interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://cloudsso.cisco.com/as/token.oauth2
  response:
    body:
      string: '{"access_token":"NZX0LI3UfCHBwJjHKAlpeHlOrz4Z","token_type":"Bearer","expires_in":3599}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://api.cisco.com/return/v1.0/returns/users/user_ids/tgulgund
  response:
    body:
      string: '{"OrderList":{"APIError":{"Error":[{"errorCode":"SVO_NO_RECORDS","errorDescription":"No
        order found for the given request.","suggestedAction":"No order found for
        the given request."}]}}}'
    headers:
      X-Mashery-Message-ID:
      - 2815a36d-074f-4b09-9696-8e226415c417
      content-type:
      - application/json
      x-rp-ssl-name:
      - cae-prd-alln-prt-ext-dedicated0-kube-rp-0.cisco.com
    status:
      code: 200
      message: OK
version: 1
