interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://id.cisco.com/oauth2/default/v1/token
  response:
    body:
      string: '{"token_type":"Bearer","expires_in":3600,"access_token":"eyJraWQiOiJUV3lfd0piZUhMUjJrb1NZQWZpTnZPeGptWExPM3NKNTdBTUk0UGEySzRRIiwiYWxnIjoiUlMyNTYifQ.eyJ2ZXIiOjEsImp0aSI6IkFULkJ4NjV1dVNzanpFbjh0RTc2QWVKOVN1UXNyNEtzc3EtX0M0anU5cmx3V3MiLCJpc3MiOiJodHRwczovL2lkLmNpc2NvLmNvbS9vYXV0aDIvZGVmYXVsdCIsImF1ZCI6ImFwaTovL2RlZmF1bHQiLCJpYXQiOjE2OTU2OTYxODQsImV4cCI6MTY5NTY5OTc4NCwiY2lkIjoiYXFweGJ0cnlmZGZ0eGU2NGo5YXZidWcyIiwic2NwIjpbImN1c3RvbXNjb3BlIl0sImFjY2Vzc19sZXZlbCI6MSwic3ViIjoiYXFweGJ0cnlmZGZ0eGU2NGo5YXZidWcyIiwiZnVsbF9uYW1lIjoibnVsbCBudWxsIiwiYXpwIjoiYXFweGJ0cnlmZGZ0eGU2NGo5YXZidWcyIn0.Ls7AN-EDms1uar7ULdotPJDHjZUBWIN8V2i4nao5GhyxUvpry9Ll_-8akjXIvOghTG3Ad28Ca4xMELOdUfusKzlTLZ0hY_zfIXpcuoMcxImYBiw7_G2EtzPFfunbZA5G_P1ccW6_M9cqN-_KOOlVqiBiBSqJwSD3yNx16R6R6Ij3TJ-yrNJ1C9QNSnsfQtypygIdPuhavhOV_iLTjOiDRA4l9Z6eMbDHOCo9_qOKRWw1h80wsp7ytRP0v43qD4EvtH5ZwxgFcMYPwE99pcg3Aw5Ysw-dAxqhATk4_iGp9tBwQcpjGEQa77CnNZt22WClBmiFdfnqjhxC3QAI_iEjIA","scope":"customscope"}'
    headers:
      Content-Type:
      - application/json
      x-okta-request-id:
      - ZRJFOKbaz01mzGlFjO1q6AAACf0
      x-rate-limit-limit:
      - '60000'
      x-rate-limit-remaining:
      - '59712'
      x-rate-limit-reset:
      - '1695696220'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://apix.cisco.com/return/v1.0/returns/rma_numbers/801934965?page_index=1&pageIndex=1
  response:
    body:
      string: '{"APIPagination":{"pageIndex":"1","lastIndex":"1","totalRecords":"1","pageRecords":"1","title":"Service
        Order RMA API","selfLink":"https://api.cisco.com/return/v1.0/returns/rma_numbers/801934965"},"returns":{"RmaRecord":[{"rmaNo":801934965,"status":"Closed","orderDate":"2021-11-14","caseId":"692541209","requestedShipDate":"2021-11-14","originator":"MOSAHIL","allowPartialShipment":"","failureClass":"Operational
        Failure","failureCode":"HW Fail - Ether Port","contractId":"92511831","serviceLevel":"Premium
        Parts & Labor - 4 Hour","customerRefInfo":{"customerPONumber":"13112021-27957","origSalesOrderNumber":"801934965","customerRefNumber":"","customerProvidedSN":""},"shipToInfo":{"customerName":"CISCO
        SYSTEMS INDIA PVT LTD","address1":"SEZ UNIT, CESSNA BUSINESS PARK KADUBEESANAHALLI
        VILLAGE, VARTHUR HOBLI MARATHAHALLI, OUTER RING ROAD","address2":"","address3":"","address4":"","city":"BANGALORE","state":"KA","country":"IN","postalCode":"560103","stateProv":"KA","siteUseId":"731985932","ackUserId":"tgulgund","ackPhone":"918044297683","ackEmail":"tgulgund@cisco.com","ackName":"Touseef
        Ahmed Gulgundi","shipToContactName":"Himanshu Reshamdalal","shipToContactPhone":"917760877451","shipToContactEmail":"hreshamd@cisco.com"},"billToInfo":{"customerName":"CISCO
        SYSTEMS INTERNAL CONTRACTS","address1":"170 WEST TASMAN DRIVE","address2":"","address3":"","address4":"","city":"SAN
        JOSE","state":"","country":"US","postalCode":"95134","stateProv":"CA","siteUseId":"417798624"},"replacementParts":{"trackingInfo":{"trackingNumber":"9120871623","courierList":"DHL","shipDate":"2021-11-16"},"partsLineDetails":[{"partsLineRef":"2","partsLineStatus":"Closed","partsTransactionType":"ARPRM-SHIP-US","shippedPartNo":"QSFP-100G-SM-SR=","partsDescription":"100GBASE
        CWDM4 Lite QSFP Transceiver, 2km over SMF, 10-60C","partsQtyAuth":"1","partsScheduledShipTime":"2021-11-14","partsqtyShipped":"1","partsShipDate":"2021-11-16","partsShipmentWarehouse":"BLR","partsDispatchStatus":"DISPATCHED","shippedSerialID":"FNS21510WHD"}]},"returnLines":{"returnParts":[{"returnLineRef":"1","returnLineStatus":"Closed","returnTransactionType":"ARPRM-RETURN-US","receivedPartNo":"QSFP-100G-SM-SR=","returnDescription":"100GBASE
        CWDM4 Lite QSFP Transceiver, 2km over SMF, 10-60C","returnQtyAuth":"1","returnToCiscoBy":"2021-11-24","reqturnQtyReceived":"1","returnDateReceived":"2021-12-08","returnWarehouse":"IN1","receivedSerialNumber":"FNS21510WHD"}]},"laborDetails":{"fieldEngineerName":"","fieldEngineerPhone":"","fieldEngineerOnRouteTime":"","fieldEngineerArrivedTime":"","fieldEngineerReleasedTime":"","laborLines":[{"laborTaskNumber":"","laborStatus":"","primaryProductFamily":"","laborScheduledTime":"","laborDispatch":"","laborDispatchOrCancellationNotes":""}]},"notes":{"addlComments":"","failureDescription":"Created
        by MOSAHIL at 2021/11/14 16:47:15\r\nUDLD errors are observed on the port","fieldEngineerInstructions":"","partDeliveryInstructions":"","partialShipmentNote":"Created
        by MOSAHIL at 2021/11/14 16:47:15\r\nPartial Ship","specialInstructions":"Created
        by MOSAHIL at 2021/11/14 16:47:15\r\nDO NOT DISPATCH. This is a Reconciliation
        RMA for TEMPORARY SERVICE ORDER NUMBER: 13112021-27957\r\nPlease update RMA
        as follows:\r\nPart #:  QSFP-100G-SM-SR \tQuantity:  1\r\nTPL: BLR\r\nETA:
        14-NOV-2021 03:28\r\nReference Number: 1129962825\r\nPOD:"}}]}}'
    headers:
      X-Mashery-Message-ID:
      - b0072cdb-1e06-42ea-ae05-91fa334d28cc
      content-type:
      - application/json
      x-ratelimit-limit:
      - '2000'
      x-ratelimit-observed:
      - '77'
      x-rp-ssl-name:
      - prd-alln-101-8zrsp-dedicated0-ext-kube-rp-1b-64m89
    status:
      code: 200
      message: OK
version: 1
