interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://cloudsso.cisco.com/as/token.oauth2
  response:
    body:
      string: '{"access_token":"GUK9QQT3eVJ3XLHPM9nzKU5ue4Gj","token_type":"Bearer","expires_in":3599}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://api.cisco.com/return/v1.0/returns/rma_numbers/801934965?page_index=1&pageIndex=1
  response:
    body:
      string: '{"APIPagination":{"pageIndex":"1","lastIndex":"1","totalRecords":"1","pageRecords":"1","title":"Service
        Order RMA API","selfLink":"https://api.cisco.com/return/v1.0/returns/rma_numbers/801934965"},"returns":{"RmaRecord":[{"rmaNo":801934965,"status":"Booked","orderDate":"2021-11-14","caseId":"692541209","requestedShipDate":"2021-11-14","originator":"MOSAHIL","allowPartialShipment":"","failureClass":"Operational
        Failure","failureCode":"HW Fail - Ether Port","contractId":"92511831","serviceLevel":"Premium
        Parts & Labor - 4 Hour","customerRefInfo":{"customerPONumber":"13112021-27957","origSalesOrderNumber":"801934965","customerRefNumber":"","customerProvidedSN":""},"shipToInfo":{"customerName":"CISCO
        SYSTEMS INDIA PVT LTD","address1":"SEZ UNIT, CESSNA BUSINESS PARK KADUBEESANAHALLI
        VILLAGE, VARTHUR HOBLI MARATHAHALLI, OUTER RING ROAD","address2":"","address3":"","address4":"","city":"BANGALORE","state":"KA","country":"IN","postalCode":"560103","stateProv":"KA","siteUseId":"731985932","ackUserId":"tgulgund","ackPhone":"918044297683","ackEmail":"tgulgund@cisco.com","ackName":"Touseef
        Ahmed Gulgundi","shipToContactName":"Himanshu Reshamdalal","shipToContactPhone":"917760877451","shipToContactEmail":"hreshamd@cisco.com"},"billToInfo":{"customerName":"CISCO
        SYSTEMS INTERNAL CONTRACTS","address1":"170 WEST TASMAN DRIVE","address2":"","address3":"","address4":"","city":"SAN
        JOSE","state":"","country":"US","postalCode":"95134","stateProv":"CA","siteUseId":"417798624"},"replacementParts":{"trackingInfo":{"trackingNumber":"9120871623","courierList":"DHL","shipDate":"2021-11-16"},"partsLineDetails":[{"partsLineRef":"2","partsLineStatus":"Shipped","partsTransactionType":"ARPRM-SHIP-US","shippedPartNo":"QSFP-100G-SM-SR=","partsDescription":"100GBASE
        CWDM4 Lite QSFP Transceiver, 2km over SMF, 10-60C","partsQtyAuth":"1","partsScheduledShipTime":"2021-11-14","partsqtyShipped":"1","partsShipDate":"2021-11-16","partsShipmentWarehouse":"BLR","partsDispatchStatus":"DISPATCHED","shippedSerialID":"FNS21510WHD"}]},"returnLines":{"returnParts":[{"returnLineRef":"1","returnLineStatus":"Closed","returnTransactionType":"ARPRM-RETURN-US","receivedPartNo":"QSFP-100G-SM-SR=","returnDescription":"100GBASE
        CWDM4 Lite QSFP Transceiver, 2km over SMF, 10-60C","returnQtyAuth":"1","returnToCiscoBy":"2021-11-24","reqturnQtyReceived":"1","returnDateReceived":"2021-12-08","returnWarehouse":"IN1","receivedSerialNumber":"FNS21510WHD"}]},"laborDetails":{"fieldEngineerName":"","fieldEngineerPhone":"","fieldEngineerOnRouteTime":"","fieldEngineerArrivedTime":"","fieldEngineerReleasedTime":"","laborLines":[{"laborTaskNumber":"","laborStatus":"","primaryProductFamily":"","laborScheduledTime":"","laborDispatch":"","laborDispatchOrCancellationNotes":""}]},"notes":{"addlComments":"","failureDescription":"Created
        by MOSAHIL at 2021/11/14 16:47:15\r\nUDLD errors are observed on the port","fieldEngineerInstructions":"","partDeliveryInstructions":"","partialShipmentNote":"Created
        by MOSAHIL at 2021/11/14 16:47:15\r\nPartial Ship","specialInstructions":"Created
        by MOSAHIL at 2021/11/14 16:47:15\r\nDO NOT DISPATCH. This is a Reconciliation
        RMA for TEMPORARY SERVICE ORDER NUMBER: 13112021-27957\r\nPlease update RMA
        as follows:\r\nPart #:  QSFP-100G-SM-SR \tQuantity:  1\r\nTPL: BLR\r\nETA:
        14-NOV-2021 03:28\r\nReference Number: 1129962825\r\nPOD:"}}]}}'
    headers:
      X-Mashery-Message-ID:
      - 6e501441-16d2-4775-943b-bfce8c5dc3ac
      content-type:
      - application/json
      x-rp-ssl-name:
      - cae-prd-alln-prt-ext-dedicated0-kube-rp-0.cisco.com
    status:
      code: 200
      message: OK
version: 1
