interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://cloudsso.cisco.com/as/token.oauth2
  response:
    body:
      string: '{"access_token":"KgITIUQaMIlmujILkqv2rIoCkOLk","token_type":"Bearer","expires_in":3599}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://api.cisco.com/return/v1.0/returns/rma_numbers/84894022?page_index=1&pageIndex=1
  response:
    body:
      string: '{"APIError":{"Error":[{"errorCode":"SVO_NO_RECORDS","errorDescription":"No
        order found for the given request.","suggestedAction":"No order found for
        the given request.","inputIdentifier":"84894022"}]}}'
    headers:
      X-Mashery-Message-ID:
      - a59a048e-6b1e-4a14-a234-cd395faa6c72
      content-type:
      - application/json
      x-rp-ssl-name:
      - cae-prd-alln-prt-ext-dedicated0-kube-rp-0.cisco.com
    status:
      code: 200
      message: OK
version: 1
