interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://cloudsso.cisco.com/as/token.oauth2
  response:
    body:
      string: '{"access_token":"1f0QMBRsME96MQyh25kJW8ywi1y8","token_type":"Bearer","expires_in":3599}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://api.cisco.com/bug/v2.0/bugs/product_name/Cisco%20Unified%20Communications%20Manager%20(CallManager)/fixed_in_releases/10.5(2)?modified_date=5&page_index=1
  response:
    body:
      string: '{"bugs":[{"id":"1","product_name":"Cisco Unified Communications Manager
        (CallManager)","bug_id":"CSCur26575","headline":"UCM: Update JDK to 7.0.71
        to Address Numerous Published Vulnerabilities","description":"$$IGNORE\n\n<B>Symptom:</B>\n\n<B>Conditions:</B>\n\n<B>Workaround:</B>\n\n<B>Further
        Problem Description:</B>\n\n","severity":"3","status":"F","behavior_changed":"N","last_modified_date":"2020-03-20","product":"Cisco
        Unified Communications Manager (CallManager)","known_affected_releases":"10.5(1.98000.99)","known_fixed_releases":"10.5(1.98000.387)
        10.5(1.98000.476) 10.5(1.98050.102) 10.5(2)ES3 10.5(2.10000.5) 10.5(2.173)
        11.0(0.46) 11.0(0.98000.89) 11.0(0.98100.18) 11.5(0.98000.108) 11.5(0.98000.126)
        9.1(2.13900.10)","support_case_count":"0"}],"pagination_response_record":{"last_index":1,"page_index":1,"page_records":1,"self_link":"https://api.cisco.com/bug/v2.0/bugs/product_name/Cisco
        Unified Communications Manager (CallManager)/fixed_in_releases/10.5(2)?page_index=1&modified_date=5&sort_by=modified_date","title":"Bug
        API - Get Bugs by Product Name and Fixed In Software Releases","total_records":1}}'
    headers:
      X-Mashery-Message-ID:
      - 5ea96020-4fea-47db-8967-d86c42f3ac9c
      content-type:
      - application/json;charset=UTF-8
      x-rp-ssl-name:
      - cae-prd-alln-prt-ext-kube-rp-1.cisco.com
    status:
      code: 200
      message: OK
version: 1
