interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://cloudsso.cisco.com/as/token.oauth2
  response:
    body:
      string: '{"access_token":"YHpdHBqRUuMdnbaJgZxsW6MIZmNG","token_type":"Bearer","expires_in":3599}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://api.cisco.com/bug/v2.0/bugs/keyword/IOS%20SSH%20PKI?page_index=1
  response:
    body:
      string: '{"bugs":[{"id":"1","bug_id":"CSCvx27079","headline":"CMX in Non-FIPS
        mode cannot connect to the controller in FIPS mode. Certificate Validation
        Error.","description":"<B>Symptom:</B>\nCMX performs two operations when adding
        a 9800 controller:\n1) It opens an SSH session to the 9800 controller to configure
        AAA parameters required for NMSP session\n2) It opens a NMSP session to the
        9800 controller to communicate location-related info.\n\nWhen CMX is in non-FIPS
        mode, it sends any arbitrary self-signed certificate to 9800 controller for
        the NMSP session, which if 9800 controller is in FIPS mode, it will require
        to[...]
[...]
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://api.cisco.com/bug/v2.0/bugs/keyword/IOS%20SSH%20PKI?page_index=2
  response:
    body:
      string: '{"bugs":[{"id":"11","bug_id":"CSCvx28898","headline":"SUDI certificate
        expiration may impact functionality","description":"<B>Symptom:</B>\nCisco
        Secure Unique Device Identifier (SUDI) certificates on a limited number Cisco
        platforms running IOS or IOS XE (see the Products Affected section) will expire
        either on [Date of Manufacture + 10 Years] OR 2029-05-14, whichever is earlier.
        \nThe expiration of the SUDI cert may impact router functionalities that may
        be configured to use the SUDI certificate such as HTTP, SSH, PnP\n\n<B>Conditions:</B>\nWhen
        SUDI certificate expires.\n\n<B>Workaround:</B>\nInstall a Local Device ID
        Cert (LDevID) by using SCEP or manually applying it and then using the new
        certificate for the features that were previously using SUDI cert.\n\n<B>Further
        Problem Description:</B>\nNone\n","severity":"6","status":"","behavior_changed":"","last_modified_date":"2022-01-24","product":"all_security_iosxe","known_affected_releases":"15.3(02.14)PI23
        17.4.1","known_fixed_releases":"","support_case_count":"0"}],"pagination_response_record":{"last_index":2,"page_index":2,"page_records":1,"self_link":"https://api.cisco.com/bug/v2.0/bugs/keyword/IOS
        SSH PKI?page_index=2&modified_date=2&sort_by=modified_date","title":"Bug API
        - Search Bugs by Keyword","total_records":11}}'
    headers:
      X-Mashery-Message-ID:
      - 98d11035-555b-4ef9-931e-014569aba64f
      content-type:
      - application/json;charset=UTF-8
      x-rp-ssl-name:
      - cae-prd-alln-prt-ext-kube-rp-1.cisco.com
    status:
      code: 200
      message: OK
version: 1
