interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://cloudsso.cisco.com/as/token.oauth2
  response:
    body:
      string: '{"access_token":"BwqPIbIfWdtCtiy4Ev3Czw9PppL9","token_type":"Bearer","expires_in":3599}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://api.cisco.com/bug/v2.0/bugs/product_series/Cisco%205500%20Series%20Wireless%20Controllers/fixed_in_releases/7.6(100.6)?modified_date=5&page_index=1
  response:
    body:
      string: '{"bugs":[],"pagination_response_record":{"last_index":0,"page_index":1,"page_records":0,"self_link":"https://api.cisco.com/bug/v2.0/bugs/product_series/Cisco
        5500 Series Wireless Controllers/fixed_in_releases/7.6(100.6)?page_index=1&modified_date=5&sort_by=modified_date","title":"Bug
        API - Get Bugs by Product Series and Fixed In Software Releases","total_records":0}}'
    headers:
      X-Mashery-Message-ID:
      - c431a2e4-2781-4c74-aa00-89f12777403e
      content-type:
      - application/json;charset=UTF-8
      x-rp-ssl-name:
      - cae-prd-alln-prt-ext-kube-rp-1.cisco.com
    status:
      code: 200
      message: OK
version: 1
