interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://cloudsso.cisco.com/as/token.oauth2
  response:
    body:
      string: '{"access_token":"NYJrJukJkWZHx0P84AHmtIT5bbvq","token_type":"Bearer","expires_in":3599}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://api.cisco.com/bug/v2.0/bugs/bug_ids/CSCvc57217?page_index=1
  response:
    body:
      string: '{"bugs":[{"id":"1","bug_id":"CSCvc57217","headline":"Cisco IOS Software
        Network Address Translation Denial of Service Vulnerability","description":"\n\n<B>Symptom:</B>\nA
        vulnerability in the implementation of Network Address Translation (NAT) functionality
        in Cisco IOS Software could allow an unauthenticated, remote attacker to cause
        a denial of service (DoS) condition on an affected device.\n\nThe vulnerability
        is due to the improper translation of H.323 messages that use the Registration,
        Admission, and Status (RAS) protocol and are sent to an affected device via
        IPv4 packets. An attacker [...]
