interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://id.cisco.com/oauth2/default/v1/token
  response:
    body:
      string: '{"token_type":"Bearer","expires_in":3600,"access_token":"eyJraWQiOiJUV3lfd0piZUhMUjJrb1NZQWZpTnZPeGptWExPM3NKNTdBTUk0UGEySzRRIiwiYWxnIjoiUlMyNTYifQ.eyJ2ZXIiOjEsImp0aSI6IkFULjNvc3U2ejB6Y1J5LUlxSFJueUc4cmw4bWFzUUNIdUMyMFhyTmp4c0pMNFkiLCJpc3MiOiJodHRwczovL2lkLmNpc2NvLmNvbS9vYXV0aDIvZGVmYXVsdCIsImF1ZCI6ImFwaTovL2RlZmF1bHQiLCJpYXQiOjE2OTU2OTYwNzYsImV4cCI6MTY5NTY5OTY3NiwiY2lkIjoiYXFweGJ0cnlmZGZ0eGU2NGo5YXZidWcyIiwic2NwIjpbImN1c3RvbXNjb3BlIl0sImFjY2Vzc19sZXZlbCI6MSwic3ViIjoiYXFweGJ0cnlmZGZ0eGU2NGo5YXZidWcyIiwiZnVsbF9uYW1lIjoibnVsbCBudWxsIiwiYXpwIjoiYXFweGJ0cnlmZGZ0eGU2NGo5YXZidWcyIn0.MP_3ICFgRQ-4EbrHZelGYaJPSezaSTaRx-piRWW3AiWgiEPCy6gZizr3J4gcvmT9sV0W8i07Zz9fD2GfKk_hl0zxq-uZbh0DOtOVsiX02nITHZsL-lR33916WCH2BBlHUbTOyIuD2Q-ZsnUTSADepKD_jgOzhOFVKcEK7oroQbPScPFAj_KK38Z8MsN-gX3e6vVft-97TD_IsITekrr_oMsI_-yChcQWiGH8uaGpIYZhQAqQcPLSMvSDKsqvoDywKGRr3fv3q2pOKxL98veF661t3fDwDjKcMn9H857druebmMuMMAZZaSXmXJXGwR0pZAnD0T9PbL6yXgDyDF4CoA","scope":"customscope"}'
    headers:
      Content-Type:
      - application/json
      x-okta-request-id:
      - ZRJEzHCzX5EUEmLMf_QCIAAAAt8
      x-rate-limit-limit:
      - '60000'
      x-rate-limit-remaining:
      - '58282'
      x-rate-limit-reset:
      - '1695696100'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://apix.cisco.com/bug/v2.0/bugs/product_name/Cisco%20Unity%20Connection%20Version%2010.5/affected_releases/10.5(2)?modified_date=5&page_index=1
  response:
    body:
      string: "{\"bugs\":[{\"id\":\"1\",\"product_name\":\"Cisco Unity Connection
        Version 10.5\",\"bug_id\":\"CSCvw93402\",\"headline\":\"Year 2021 cannot be
        selected while fetching any report in Serviceability Report page\",\"description\":\"<B>Symptom:</B>\\nwill
        not get the option to select year 2021 in date section drop down list in any
        Reports under Serviceability Reports\\n\\n<B>Conditions:</B>\\nimpacted all
        relaeses i.e 10.5 ,11.5, 12.0 and 12.5\\n\\n<B>Workaround:</B>\\nFor Release
        12.5.1 and 11.5.1 : Customers are required to Install the Cop file \\\"ciscocm.cuc.CSCvw93402_C0101-1.cop.sgn\\\"\\nPlease
        refer the Cop file Readme for more details about the installation\\nCOP file
     [...]
[...]
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://apix.cisco.com/bug/v2.0/bugs/product_name/Cisco%20Unity%20Connection%20Version%2010.5/affected_releases/10.5(2)?modified_date=5&page_index=2
  response:
    body:
      string: "{\"bugs\":[{\"id\":\"11\",\"product_name\":\"Cisco Unity Connection
        Version 10.5\",\"bug_id\":\"CSCvm96001\",\"headline\":\"Improve DRS mechanism
        with increased DB lock time for UpdateMailboxStoreMapStatus\",\"description\":\"\\n\\n<B>Symptom:</B>\\n++
        DRS backup fails on CONNECTION_MESSAGES_UNITYMBXDB feature, MESSAGES component
        with error code 1-Unknown MESSAGES Error\\n++ Alert in syslogs:\\n\\n %UC_DRF-3-DRFFailure:
        %[Reason=DRF was unable to backup component MESSAGES.Error : Unknown MESSAGES
        Error][AppID=Cisco DRF Master][ClusterID=][NodeID=XXX]: DRF Backup or Restore
        process has failed.\\n\\n++ In DRS logs following error thrown:\\n\\n Executing
        query: SELECT ObjectId from vw_mailboxstoremap WHERE lower(maildatabase) =
        'unitymbxdb1';\\n Execute query failed\\n action:      FETCH\\nsqlcode:     -244\\ndiagnostics:
        [{'sqlerrm': 'tbl_mailboxstoremap', 'message': 'Could not do a physical-order
        read to fetch next row.', 'sqlstate': 'IX000'}, {'sqlerrm': 'tbl_mailboxstoremap',
        'message': 'ISAM error:  record is locked.', 'sqlstate': 'IX000'}]\\n\\n<B>Conditions:</B>\\n-Any
        CUC version \\n-DRS backup running on MESSAGES component\\n-tbl_mailboxstoremap
        is locked by another process\\n\\n<B>Workaround:</B>\\n+ Re-run the backup;\\n\\n<B>Further
        Problem Description:</B>\\nOn the MESSAGES component, CONNECTION_MESSAGES_UNITYMBXDBX
        feature of CUC DRS backup, if particular record [in tbl_mailboxstoremap] is
        locked by another process (either during un-mounting or mounting back the
        mailbox store), backup will fail for the component.\\n\\nThis enhancement
        is raised to increase a timeout in UpdateMailboxStoreMapStatus script, so
        that backup succeeds in this scenario.\\n\",\"severity\":\"6\",\"status\":\"O\",\"behavior_changed\":\"\",\"last_modified_date\":\"2023-08-23\",\"product\":\"connection\",\"known_affected_releases\":\"10.5(2)
        11.0 11.5\",\"known_fixed_releases\":\"\",\"support_case_count\":\"6\"},{\"id\":\"12\",\"product_name\":\"Cisco
        Unity Connection Version 10.5\",\"bug_id\":\"CSCvm68778\",\"headline\":\"BYE
        received from Remote as Unity does not Stream RTP while recording in progress\",\"description\":\"\\n\\n<B>Symptom:</B>\\nRemote
        Devices Sending BYE for Longer Duration Recording as Unity does not Stream
        RTP to End Points when Recording in Process.\\nUnderstanding is that Call
        is getting cut off after 5 min Recording , It is because t[...]
[...]
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://apix.cisco.com/bug/v2.0/bugs/product_name/Cisco%20Unity%20Connection%20Version%2010.5/affected_releases/10.5(2)?modified_date=5&page_index=3
  response:
    body:
      string: '{"bugs":[{"id":"21","product_name":"Cisco Unity Connection Version
        10.5","bug_id":"CSCvd90118","headline":"Cisco Unity Connection ImageID Parameter
        Unauthorized Access Vulnerability","description":"\n\n<B>Symptom:</B>\nA vulnerability
        in the ImageID parameter of Cisco Unity Connection could allow an unauthenticated,
        remote attacker to access files in arbitrary\nlocations on the file system
        of an affected device.\n\nThe issue is due to improper sanitization of user-supplied
        input in HTTP GET parameters that describe filenames. An attacker could exploit
        this\nvulnerability by using directory traversal techniques to submit a path
        to a desired file location.\n\n<B>Conditions:</B>\nExperienced only for IE
        and Chrome web browsers.\n\n<B>Workaround:</B>\nNone.\n\n<B>Further Problem
        Description:</B>\nNone.\n\n<b>PSIRT Evaluation:</b>\nThe Cisco PSIRT has assigned
        this bug the following CVSS version 3 score. The Base CVSS score as of the
        time of evaluation is 5.3:\nhttps://tools.cisco.com/security/center/cvssCalculator.x?version=3.0&vector=CVSS:3.0/AV:N/AC:L/PR:N/UI:N/S:U/C:L/I:N/A:N/E:X/RL:X/RC:X\n\nCVE
        ID CVE-2017-6629 has been assigned to document this issue.\n\nAdditional information
        on Cisco''s security vulnerability policy can be found at the follow[...]
[...]
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://apix.cisco.com/bug/v2.0/bugs/product_name/Cisco%20Unity%20Connection%20Version%2010.5/affected_releases/10.5(2)?modified_date=5&page_index=4
  response:
    body:
      string: '{"bugs":[{"id":"31","product_name":"Cisco Unity Connection Version
        10.5","bug_id":"CSCvn18954","headline":"Evaluation of connection for Apache
        Struts Commons FileUpload RCE","description":"\n\n<B>Symptom:</B>\nThe product
        Cisco Unity Connection includes a version of Apache Struts that is affected
        by the Remote Code Execution vulnerability identified by the following Common
        Vulnerability and Exposures (CVE) ID :\n\nCVE-2016-1000031\n\nCisco has reviewed
        this product and concluded that it is affected by this vulnerability.\n\n<B>Conditions:</B>\nExposure
        is not configuration dependent.\n\n<B>Workaround:</B>\nNot currently available.\n\n<B>Further
        Problem Description:</B>\nMore information about this vulnerability may be
        found on the advisory published at:\nhttps://tools.cisco.com/security/center/content/CiscoSecurityAdvisory/cisco-sa-20181107-struts-commons-fileupload\n\n<b>PSIRT
        Evaluation:</b>\nThe Cisco PSIRT has assigned this bug the following CVSS
        version 3 score. The Base CVSS scores as of the time of evaluation are 9.8:\nhttps://tools.cisco.com/security/center/cvssCalculator.x?version=3.0&vector=CVSS:3.0/AV:N/AC:L/PR:N/UI:N/S:U/C:H/I:H/A:H\n\nThe
        Cisco PSIRT has assigned this score based on information obtained from multiple
        sources. This includes the CVSS score assigned by the third-party vendor when
        available. The CVSS score assigned may not[...]
[...]
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://apix.cisco.com/bug/v2.0/bugs/product_name/Cisco%20Unity%20Connection%20Version%2010.5/affected_releases/10.5(2)?modified_date=5&page_index=9
  response:
    body:
      string: '{"bugs":[{"id":"81","product_name":"Cisco Unity Connection Version
        10.5","bug_id":"CSCuz48432","headline":"CUC: Dates for March alternating greeting
        listed wrongly via TUI","description":"<B>Symptom:</B>\nWhen trying to change
        the alternate greetings via TUI it will ask you for the month and date, the
        user will select March as the month and it will list only 30 days instead
        of 31 days.\n\nTimeZone Configuration at Set up :\n\nadmin:show timezone config\nCurrent
        timezone: British Summer Time (Europe/London)\nTimezone version: 2015g\n\nConversation
        manager logs:\n10:44:43.897 |19244,PhoneSystem-1-010,2E476C2C90FB4C24A995FB65E67CFDF2,ConvSub,3,DTEvalMonth_OnEntry:
        ICsNamedProps::GetPropString() found property DateTimeMonthDTMF = 03#.  GetPropString()
        returned 0x00000000 S_OK [Src/UtilsDateTime.cpp:390] // Month Entered is 3
        which is March \n10:44:43.897 |19244,PhoneSystem-1-010,2E476C2C90FB4C24A995FB65E67CFDF2,ConvSub,5,DTEvalMonth_OnEntry:
        Processing digits [03#] [Src/UtilsDateTime.cpp:393]\n10:44:43.897 |19244,PhoneSystem-1-\n\n10:44:43.898
        |19244,PhoneSystem-1-010,2E476C2C90FB4C24A995FB65E67CFDF2,ConvSub,0,Exiting
        [DaysInMonth[...]
[...]
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://apix.cisco.com/bug/v2.0/bugs/product_name/Cisco%20Unity%20Connection%20Version%2010.5/affected_releases/10.5(2)?modified_date=5&page_index=10
  response:
    body:
      string: '{"bugs":[{"id":"91","product_name":"Cisco Unity Connection Version
        10.5","bug_id":"CSCvh69601","headline":"Lack of information to upgrade PLM,
        after upgrade of CUCM/CUC to 10.5(2)SU6 or 11.5(1)SU3","description":"<B>Symptom:</B>\nThere
        is no information in readme for CUC/CUCM version 10.5(2)SU6 or 11.5(1)SU3  that
        PLM needs to be upgraded in order to successfully synchronize such product
        instances. It is mentioned only in release notes for PLM itself - here example:
        https://www.cisco.com/c/en/us/td/docs/voice_ip_comm/cucm/plm/10_5_2_SU1/releasenotes/cplm_b_release-notes-1052su1/cplm_b_release-notes-cplm-1052su1_chapter_010.html
        \n\nUpgrade of PLM is needed - otherwise it will not support Encryption License.\n\nReadme
        file for upgrade file should contain such information.\n\n<B>Conditions:</B>\nNone
        - documentation defect\n\n<B>Workaround:</B>\nNone\n\n<B>Further Problem Description:</B>\n\n","severity":"6","status":"O","behavior_changed":"[...]
[...]
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://apix.cisco.com/bug/v2.0/bugs/product_name/Cisco%20Unity%20Connection%20Version%2010.5/affected_releases/10.5(2)?modified_date=5&page_index=11
  response:
    body:
      string: "{\"bugs\":[{\"id\":\"101\",\"product_name\":\"Cisco Unity Connection
        Version 10.5\",\"bug_id\":\"CSCvp02183\",\"headline\":\"UC Handle 401 Authentication
        Challenge for SIP NOTIFY sent by Unity for incoming SUBSCRIBE request\",\"description\":\"<B>Symptom:</B>\\nError
        Seen in CuCsMgr Logs whiles processing 401 Unauthorized for the SIP NOTIFY
        sent by Unity for incoming SUBSCRIBE request\\n\\nERROR Failure Below:\\n14:04:47.577
        |3255,HQCC-UNTY-PG4-001,30A58655BA83488181FE7326B26944F0,MiuMethods,21,Enter
        CSipLine::ProcessReceivedSipMessage\\n14:04:47.577 |3255,HQCC-UNTY-PG4-001,30A58655BA83488181FE7326B26944F0,MiuMethods,22,Enter
        CSipLine::ProcessRequestResponse\\n14:04:47.577 |3255,HQCC-UNTY-PG4-001,30A58655BA83488181FE7326B26944F0,MiuMethods,22,Enter
        CSipLine::AuthenticateIfNeccessary\\n14:04:47.577 |3255,HQCC-UNTY-PG4-001,30A58655BA83488181FE7326B26944F0,MiuMethods,22,Exit
        CSipLine::AuthenticateIfNeccessary->0x80004005=E_FAIL\\n14:04:47.577 |3255,HQCC-UNTY-PG4-001,30A58655BA834[...]
[...]
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://apix.cisco.com/bug/v2.0/bugs/product_name/Cisco%20Unity%20Connection%20Version%2010.5/affected_releases/10.5(2)?modified_date=5&page_index=13
  response:
    body:
      string: '{"bugs":[{"id":"121","product_name":"Cisco Unity Connection Version
        10.5","bug_id":"CSCvq09399","headline":"SAML SSO : Complete Documentation
        needs updation along with adding new option for cert type","description":"<B>Symptom:</B>\nCustomer
        getting confused for new cert option blocking there deployment\n\n<B>Conditions:</B>\nSAML
        SSO Enable from UI\n\n<B>Workaround:</B>\nNA\n\n<B>Further Problem Description:</B>\nPlease
        check below JIRA from CUCM having detailed information\n\nhttps://jira-eng-sjc12.cisco.com/jira/browse/SECURITY-4670\n\n","severity":"4","status":"F","behavior_changed":"Y","last_modified_date":"2019-06-20","product":"Cisco
        Unity Connection","known_affected_releases":"10.5(2)ES99 11.5 12.0 12.5(1)ES1
        14.0","known_fixed_releases":"CUC.12.5(1.11900.54)","support_case_count":"1"},{"id":"122","product_name":"Cisco
        Unity Connection Version 10.5","bug_id":"CSCva68365","headline":"RSS feed
        throwing error \"HTTP status 404\"\t\t","description":"<B>Symptom:</B>\nUsing
        following addresses on the browser:\n\nhttps://<Unity Connection server name>/cisco-unity-rss/rss.do\nor\nhttp://<Unity
        Connection server name>/cisco-unity-rss/rss.do\n\nShows error:\n\"HTTP status
        404-/cisco-unity-rss/&%7BVMstreamUrl%7d\"\n\n<B>Conditions:</B>\nCUC version
        : 10.5.2.12901-1 >> Cluster\nIE version 11.0.1\nWindows 7 professional , 64
        bit machine\n\n<B>Workaround:</B>\nN/A\n\n<B>Further Problem Description:</B>\n\n","severity":"4","status":"F","behavior_changed":"N","last_modified_date":"2019-06-07","pr[...]
[...]
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://apix.cisco.com/bug/v2.0/bugs/product_name/Cisco%20Unity%20Connection%20Version%2010.5/affected_releases/10.5(2)?modified_date=5&page_index=15
  response:
    body:
      string: '{"bugs":[{"id":"141","product_name":"Cisco Unity Connection Version
        10.5","bug_id":"CSCvo06417","headline":"Enhancement request for the ability
        to change the system default prompts in Unity Connection.","description":"<B>Symptom:</B>\nEnhancement
        request for the ability to change the system default prompts in Unity Connection.\n\nDefault
        prompts: \"sorry, no matching name found, say cancel or press 0 to exit at
        any time\"\n\"transferring to <user>\"\n\nExamples of customized prompts:
        \n\"Sorry, I didn''t understand that\" \n\"Could you repeat that please\"\n\"Thank
        you, transferring you now\"\n\n<B>Conditions:</B>\nThis was tested on Unity
        Connection 10.5.2.14901-1. There is no option to configure/modify default
        recordings for custom recordings.\n\n<B>Workaround:</B>\nNA\n\n<B>Further
        Problem Description:</B>\n\n","severity":"6","status":"O","behavior_changed":"","last_modified_date":"2019-02-18","[...]
[...]
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://apix.cisco.com/bug/v2.0/bugs/product_name/Cisco%20Unity%20Connection%20Version%2010.5/affected_releases/10.5(2)?modified_date=5&page_index=20
  response:
    body:
      string: '{"bugs":[{"id":"191","product_name":"Cisco Unity Connection Version
        10.5","bug_id":"CSCve87637","headline":"Unity unable to accept the message
        when using sRTP due to the delays for mid-call signalling ACK","description":"<B>Symptom:</B>\nUser
        experience: \nWhen user 1 tries to leave voice mail for user 2 he hears user
        2 greeting, but unable to record the voice message (caller hears Closing greeting
        in few seconds).\n\n<B>Conditions:</B>\nCall flow:\nPSTN -> CUBE - >CUCM ->
        3rd party contact center -> transfer to Unity.\nChecked on CUC v. 10.5.2.14901-1\n\nA
        caller from PSTN reaches agent in 3rd party contact center, agent transfers
        the call to Unity for voicemail. SIPS and SRTP is used. \n \nSpecific cond[...]
[...]
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://apix.cisco.com/bug/v2.0/bugs/product_name/Cisco%20Unity%20Connection%20Version%2010.5/affected_releases/10.5(2)?modified_date=5&page_index=21
  response:
    body:
      string: "{\"bugs\":[{\"id\":\"201\",\"product_name\":\"Cisco Unity Connection
        Version 10.5\",\"bug_id\":\"CSCvd31090\",\"headline\":\"Update the Nuance
        Library to address Nuance Vocalizer library version 5.0.2 leads to core in
        CUC\",\"description\":\"<B>Symptom:</B>\\nnon descript core:\\nUCS Related
        Info:\\nServer 4/8\\nB200 M4\\nVIC 1240\\n2.2(5a) firmware\\nESXi 5.5 U2\\nCurrent
        ENIC: 2.1.2.42\\nCurrent FNIC: 1.6.0.5\\nMatrix recommends: ENIC 2.3.0.7/
        FNIC 1.6.0.25\\nOnly Voice blades are on 2.2 code rest of the environment
        is 3.1(2b)\\n4 VMs on the ESXi host. Only 1 experienced a crash/core.\\nAdditional
        Info:\\nSignal 11 (segmentation fault) means that the program accessed an
        unassigned memory location. It is usually a bug in the code.\\nFor example
        allocating a buffer larger than available memory, not checking to see if the
        [...]
[...]
