interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://cloudsso.cisco.com/as/token.oauth2
  response:
    body:
      string: '{"access_token":"4kxts8kvQMD3jrmmZmfuF4zOG72I","token_type":"Bearer","expires_in":3599}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://api.cisco.com/bug/v2.0/bugs/products/product_id/WS-C3560-48PS-S?sort_by=severity&page_index=1
  response:
    body:
      string: '{"bugs":[{"id":"1","base_pid":"WS-C3560-48PS-S","bug_id":"CSCuv42912","headline":"Memory
        leak in IP Host Track Process","description":"\n\n<B>Symptom:</B>\n3560 running
        12.2(55)SE6,  is crashing every week and generate a crashinfo\n\n PID TTY  Allocated      Freed    Holding    Getbufs    Retbufs
        Process\n   0   0   32486684   10767372   18162100          0          0 *Init*          \n
        171   0 3647100040 3642455956   14852672          0          0 IP Host Track
        Pr  <<<<\n   0   0  142693148  172453576     512112    4172608     684872
        *Dead*          \n  57   0     529256      11064     452000          0          0
        Stack Mgr Notifi\n\nXBL-01-07#Show proc mem 171\nProcess ID: 171\nProcess
        Name: IP Host Track Process\nTotal Memory Held: 15030832 bytes\n \nProcessor
        memory Holding = 15030832 bytes\npc = 0x01CA0DAC, size =  14939184, count
        = 20982\npc = 0x01B41B08, size =     49224, count =  349\npc = 0x01B41C58,
        size =     32372, count =  349\npc = 0x01B957DC, size =      9044, count =    1\npc
        = 0x02896DD8, size =       700, count =    1\npc = 0x028998F0, size =       180,
        count =    1\npc = 0x01B96D5C, size =       128, count =    1\n \nI/O memory
        Holding = 0 bytes\n \nDriver text memory Holding = 0 bytes\n\nThis behavior
        is similar to CSCur09135\n\n<B>Conditions:</B>\nThe device crash due to a
        memory leak in IP Host Track Pr  process.\n\n<B>Workaround:</B>\nNA\n\n<B>Further
        Problem Description:</B>\n\n","severity":"1","status":"F","behavior_changed":"false","last_modified_date":"2022-01-21","product":"3560","known_affected_releases":"003.006(000)
        15.2(03)E02 n/a","known_fixed_releases":"03.7(03)E 03.8(00)E 15.2(02)E04 15.2(03)E03
        15.2(04)E 15.2(04.00.29)EA01 15.2(04.00.75a)E 15.2(04.00.80)E 15.2(05.00.10)E
        15.2(06.03.00i)E 15.3(01)IE101.241 15.4(01)IA001.001 15.5(00)IA001.001","support_case_count":"9"},{"id":"2","base_pid":"WS-C3560-48PS-S","bug_id":"CSCvn90733","headline":"Factory
        pre-installed image fails MD5 verification","description":"\n\n<B>Symptom:</B>\nThe
        pre-loaded image 15.2(3)E1 on multiple SM-X-ES3-24-P service modules fail
        MD5 verification.\n\nThe file size is also 41 bytes bigger than the CCO image
        on CCO download site. We found that the 41 bytes is pads unused bytes with
        0x1a.\n\nWhen the image is loaded, the below warning is generat[...]
