interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://id.cisco.com/oauth2/default/v1/token
  response:
    body:
      string: '{"token_type":"Bearer","expires_in":3600,"access_token":"eyJraWQiOiJUV3lfd0piZUhMUjJrb1NZQWZpTnZPeGptWExPM3NKNTdBTUk0UGEySzRRIiwiYWxnIjoiUlMyNTYifQ.eyJ2ZXIiOjEsImp0aSI6IkFULko4TnhnRlZHN1NUOEloSUV3RTlBNkVVME9MbktXT1dCUDBPTG91ZDE4UjgiLCJpc3MiOiJodHRwczovL2lkLmNpc2NvLmNvbS9vYXV0aDIvZGVmYXVsdCIsImF1ZCI6ImFwaTovL2RlZmF1bHQiLCJpYXQiOjE2OTU2OTYwNjgsImV4cCI6MTY5NTY5OTY2OCwiY2lkIjoiYXFweGJ0cnlmZGZ0eGU2NGo5YXZidWcyIiwic2NwIjpbImN1c3RvbXNjb3BlIl0sImFjY2Vzc19sZXZlbCI6MSwic3ViIjoiYXFweGJ0cnlmZGZ0eGU2NGo5YXZidWcyIiwiZnVsbF9uYW1lIjoibnVsbCBudWxsIiwiYXpwIjoiYXFweGJ0cnlmZGZ0eGU2NGo5YXZidWcyIn0.lboaElTG3j-W1KOmQpASWXBZNxO7lOxwuqsARe5y6KW3JeBq5ahT-zuEWNzNXLlGY2SfIWbm3p6zxcHvJ-FVatoUGL9DYdJYqaheWVrSGDBjXnCd8nNHqPjgKMboYaNKESdgFmiKCmIq58aJ-VUTNqgCe6O3XyUFJtTt2gbDQW76l6aqDBVCLL9OLDKXps_OXKAIUC9MSSJdCf5ZqFL-7nFPRHLRgJqeCzsJ_D6BWuFhEP8LULDoqCSb4WGoS6SWMZ8G8wC_VFXbVgvquTU04ccmLbBuunSuMY0MWOqnOwphT2n40sTMb6t0WO2S3UKXpVc9NnMl-jcAmZh_QczOOw","scope":"customscope"}'
    headers:
      
      Content-Length:
      - '703'
      Content-Security-Policy:
      - frame-ancestors 'self'
      Content-Type:
      - application/json
      Date:
      - Tue, 26 Sep 2023 02:41:08 GMT
      Expires:
      - Tue, 26 Sep 2023 02:41:08 GMT
      Pragma:
      - no-cache
      Server:
      - nginx
      Server-Timing:
      - cdn-cache; desc=MISS
      - edge; dur=25
      - origin; dur=119
      - ak_p; desc="1695696068422_386656188_70049842_14447_7160_83_133_-";dur=1
      Set-Cookie:
      - sid="";Version=1;Path=/;Max-Age=0
      - autolaunch_triggered=""; Expires=Thu, 01-Jan-1970 00:00:10 GMT; Path=/
      - JSESSIONID=DBBD0C323DBB8DC399A90430E4F9FF5C; Path=/; Secure; HttpOnly
      - _abck=9164F21EF80DAE881818C9CA7F20EE29~-1~YAAQvOcLF+Ac18qKAQAAaKBczwq2FjYB1KHbMiyzXqzZhktTpJebB020ZJSoLK7Yfjls09u3UdM9QuZHD6q4oeAwiC0yQBk2mvcpt2Cx25XT8Jt8v2xbiRagBjORrbyYvaKIMH4dw8lvDK3G0gx8ASEUnRGzMU85E9mgDNPG2WOH++CNAGpV11J7fNpkQD9vumJ/n6XhEdDRPd3lodJUAdhk23CXdAypWMDoDF++XUj7xBmRMFCOeN98UQ9xXaBYrXqzPF7BCKp6FtxgSRLU9og8td9825Su3rkKDGG9PExblssMjHhhF4NelI3se9ksRKYPGeiNpzBuq7ERjmt1rdjs9HASybn3vI383ObS4nj4Bc1PVMO0Nw==~-1~-1~-1;
        Domain=.cisco.com; Path=/; Expires=Wed, 25 Sep 2024 02:41:08 GMT; Max-Age=31536000;
        Secure
      - bm_sz=9CD30C39030972B27426C287496E0D36~YAAQvOcLF+Ec18qKAQAAaKBczxWqM9q8jGHn7waAs3HoP7BNa/c7jBH7EEARkD6qmLO6rj5u05OJbP6F8VRdNvX8TVdmtO5hbSjyGkWCvj7W7lIR0X/b6Gzn8LpBzh6pVDpd6OVBQnkWpcip/PXtjGvQGtfBelrgWRWD3eFGY0nP4IA0gUeO6392Di9NlLwNe1RHO/apwMoGe0yX8nUTEiMz6hpVq8KJNDh9iDKt2yZcVtGSDBKpfOUF6Z7zNR0SHu6oShf102fwkQNkV1akvxmowwnseRqagZZ6/5SVEvMt0w==~3223601~3163445;
        Domain=.cisco.com; Path=/; Expires=Tue, 26 Sep 2023 06:41:08 GMT; Max-Age=14400
      Strict-Transport-Security:
      - max-age=315360000; includeSubDomains
      Vary:
      - Accept-Encoding
      X-Robots-Tag:
      - noindex,nofollow
      content-security-policy-report-only:
      - 'default-src ''self'' ciscoid.okta.com id.cisco.com *.oktacdn.com; connect-src
        ''self'' ciscoid.okta.com ciscoid-admin.okta.com id.cisco.com *.oktacdn.com
        *.mixpanel.com *.mapbox.com app.pendo.io data.pendo.io pendo-static-5634101834153984.storage.googleapis.com
        pendo-static-5391521872216064.storage.googleapis.com *.mtls.okta.com ciscoid.kerberos.okta.com
        https://oinmanager.okta.com data:; script-src ''unsafe-inline'' ''unsafe-eval''
        ''self'' ciscoid.okta.com id.cisco.com *.oktacdn.com; style-src ''unsafe-inline''
        ''self'' ciscoid.okta.com id.cisco.com *.oktacdn.com app.pendo.io cdn.pendo.io
        pendo-static-5634101834153984.storage.googleapis.com pendo-static-5391521872216064.storage.googleapis.com;
        frame-src ''self'' ciscoid.okta.com ciscoid-admin.okta.com id.cisco.com login.okta.com
        api-dbbfec7f.duosecurity.com; img-src ''self'' ciscoid.okta.com id.cisco.com
        *.oktacdn.com *.tiles.mapbox.com *.mapbox.com app.pendo.io data.pendo.io cdn.pendo.io
        pendo-static-5634101834153984.storage.googleapis.com pendo-static-5391521872216064.storage.googleapis.com
        data: blob:; font-src ''self'' ciscoid.okta.com id.cisco.com data: *.oktacdn.com
        fonts.gstatic.com; frame-ancestors ''self'''
      p3p:
      - CP="HONK"
      x-content-type-options:
      - nosniff
      x-okta-request-id:
      - ZRJExH5WeqhPsgy5MAoxZAAAAzQ
      x-rate-limit-limit:
      - '60000'
      x-rate-limit-remaining:
      - '59280'
      x-rate-limit-reset:
      - '1695696100'
      x-xss-protection:
      - '0'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://apix.cisco.com/bug/v2.0/bugs/keyword/IOS%20SSH%20PKI?page_index=1
  response:
    body:
      string: '{"bugs":[{"id":"1","bug_id":"CSCvt43974","headline":"Serviceability
        improvement: Netconf SSH - fatal libcrypto error when SSH to netconf port","description":"<B>Symptom:</B>\nWhen
        attempting to connect to a IOS-XE device through netconf port (default 830),
        you will receive the following error:\n\nssh_dispatch_run_fatal: Connection
        to IP_ADDRESS port 830: error in libcrypto\n\n<B>Conditions:</B>\nIOS-XE 16.X/17.1-2\n\n<B>Workaround:</B>\nDelete
        self signed certificate off of IOS-XE device using\n\nno crypto pki trustpoint
        TP-Selfsigned-x where x is found using\n\nshow crypto pki trustpoints and
        copying the name of the self signed certificate\n\nRegenerate the self signed
        certificate using the following document:\n\nhttps://www.cisco.com/c/en/us/support/docs/security-vpn/public-key-infrastructure-pki/215118-ios-self-signed-certificate-expiration-o.html#anc9\n\nContact
        Cisco TAC only if the above workaround does not work.\n\n<B>Further Problem
        Description:</B>\n","severity":"2","status":"F","behavior_changed":"false","last_modified_date":"2023-09-10","product":"ewlc","known_affected_releases":"17.3.1","known_fixed_releases":"17.10.1
        17.10.1a 17.10.1b 17.3.1 17.3.1a 17.3.1w 17.3.1x 17.3.1z 17.3.2 17.3.2a 17.3.3
        17.3.3a 17.3.4 17.3.4a 17.3.4b 17.3.4c 17.3.5 17.3.5a 17.3.5b 17.3.6 17.4.1
        17.4.1a 17.4.1b 17.4.1c 17.4.2 17.4.2a 17.5.1 17.5.1a 17.5.1b 17.6.1 17.6.1a
        17.6.1w 17.6.1x 17.6.1y 17.6.1z 17.6.1z1 17.6.2 17.6.3 17.6.3a 17.6.4 17.6.5
        17.7.1 17.7.1a 17.7.1b 17.7.2 17.8.1 17.8.1a 17.9.1 17.9.1a 17.9.1w 17.9.1x
        17.9.1x1 17.9.2 17.9.2a 17.9.3","support_case_count":"106"},{"id":"2","bug_id":"CSCvx27079","headline":"CMX
        in Non-FIPS mode cannot connect to the controller in FIPS mode. Certificate
        Validation Error.","description":"<B>Symptom:</B>\nCMX performs two operations
        when adding a 9800 controller:\n1) It opens an SSH session to the 9800 controller
        to configure AAA parameters required for NMSP session\n2) It opens a NMSP
        session to the 9800 controller to communicate location-related info.\n\nWhen
        CMX is in non-FIPS mode, it sends any arbitrary self-signed certificate to
        9800 controller for the NMSP session, which if 9800 controller is in FIPS
        mode, it will require to validate CMX''s certificate. During the NMSP SSL
        handshake negotiation, if we perform ''debug crypto pki validation'', ''debug
        crypto pki callbacks'' and ''debug crypto pki api'', the following logs can
        be seen:\n\nIt is worth noting that SSH session is established without any
        issue, but NMSP session fails due to certificate validation error.\n\nFeb  3
        18:23:59.538 CET: %SEC_LOGIN-5-LOGIN_SUCCESS: Login Success [user: lab] [Source:
        10.1.1.10] [localport: 22] at 18:23:59 CET Wed Feb 3 2021\nFeb  3 18:24:00.283
        CET: %DMI-5-SYNC_START: Chassis 1 R0/0: syncfd: External change to running
        configuration detected. The running configuration will be synchronized to
        the NETCONF running data store.\nFeb  3 18:24:00.591 CET: %SYS-5-CONFIG_I:
        Configured from console by lab on vty0 (10.1.1.10)\nFeb  3 18:24:00.637 CET:
        %SYS-6-LOGOUT: User lab has exited tty session 1(10.1.1.10)\nFeb  3 18:24:02.828
        CET: %DMI-5-SYNC_COMPLETE: Chassis 1 R0/0: syncfd: The running configuration
        has been synchronized to the NETCONF running data store.\nFeb  3 18:24:13.931
        CET: CRYPTO_PKI: (A001B) Adding peer certificate\nFeb  3 18:24:13.931 CET:
        CRYPTO_PKI: ip-ext-val: IP extension validation not required\nFeb  3 18:24:13.931
        CET: CRYPTO_PKI: (A001B) Check for identical certs\nFeb  3 18:24:13.931 CET:
        CRYPTO_PKI: looking for cert in handle=7FCEBCF58F68, digest=\n 31 40 8D DA
        E4 19 F0 7C 13 13 9D 37 75 FA ED 36\n\nFeb  3 18:24:13.932 CET: CRYPTO_PKI:
        Cert record not found, returning E_NOT_FOUND\nFeb  3 18:24:13.933 CET: CRYPTO_PKI
        : (A001B) Validating non-trusted cert\nFeb  3 18:24:13.933 CET: CRYPTO_PKI:
        (A001B) Create a list of suitable trustpoints\nFeb  3 18:24:13.933 CET: CRYPTO_PKI:
        crypto_pki_get_cert_record_by_issuer()\nFeb  3 18:24:13.933 CET: CRYPTO_PKI:
        crypto_pki_get_cert_record_by_subject()\nFeb  3 18:24:13.933 CET: CRYPTO_PKI:
        (A001B) No suitable trustpoints found\nFeb  3 18:24:13.934 CET: %CERT_MGR_ERRMSG-3-CERT_VALIDATION_ERR:
        Chassis 1 R0/0: nmspd: Certificate Validation Error, Cert validation status:pki_ssl_status@pki_ssl_status:PKI_SSL_ERROR\nFeb  3
        18:24:13.935 CET: %NMSP_SYSLOG-3-NMSP_SSL_ERROR_DISCONNECT: Chassis 1 R0/0:
        nmspd: nmspd TLS disconnection: [TLS local: 10.1.1.1, remote: 10.1.1.10] SSL
        accept failed with SSL error (code: 1, error:1417C086:SSL routines:tls_process_client_certificate:certificate
        verify failed), closing connection\nFeb  3 18:24:13.935 CET: %NMSP_SYSLOG-5-NMSP_SSL_NOTICE:
        Chassis 1 R0/0: nmspd: nmspd TLS notice: [TLS local: 10.1.1.1, remote: 10.1.1.10]
        closing CMX connection over TLS protocol\n\n<B>Conditions:</B>\nCMX needs
        to be configured in non-FIPS ([...]
