interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://cloudsso.cisco.com/as/token.oauth2
  response:
    body:
      string: '{"access_token":"lvQ2ToKwXmSxcfSRLo5MJ2Qom3s5","token_type":"Bearer","expires_in":3599}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://api.cisco.com/bug/v2.0/bugs/product_name/Cisco%20Unity%20Connection%20Version%2010.5/affected_releases/10.5(2)?modified_date=5&page_index=1
  response:
    body:
      string: '{"bugs":[{"id":"1","product_name":"Cisco Unity Connection Version 10.5","bug_id":"CSCwa05935","headline":"CUC
        Code evaluation: CCMEncryption.java uses a Hardcoded Key for Encryption","description":"$$IGNORE\n\n<B>Symptom:</B>\nCCMEncryption
        library primary used for authentication for java modules uses the static key
        for older releases 10.5.2 and below but with latest 10.5.2 and later releases
        like 11.x and above we use DKey dynamic key but there could be scenarios with
        each product like in this case unity which might use static key concepts as
        well and this defects is the PoC evaluation effort for the same if any module
        for unity used the same\n\n<B>Conditions:</B>\nStatic Key will be removed
        from the code for all places currently used for P-Sirt mentioned in defect
        description\n\n<B>Workaround:</B>\nNA\n\n<B>Further Problem Description:</B>\nNone.\n\n<B>PSIRT
        Evaluation:</B>\nThe Cisco PSIRT has evaluated this issue and does not meet
        the criteria for PSIRT ownership or involvement. This issue will be addressed
        via normal resolution channels.\n \nIf you believe that there is new information
        that would cause a change in the severity of this issue, please contact psirt@cisco.com
        for another evaluation.\n \nAdditional information on Cisco''s security vulnerability
        policy can be found at the following URL:\n \nhttps://tools.cisco.com/security/center/resources/security_vulnerability_policy.html\n","severity":"4","status":"O","behavior_changed":"false","last_modified_date":"2022-02-09","product":"connection","known_affected_releases":"10.5(2)ES152
        11.5 12.5 14.0","known_fixed_releases":"CUC.012.005(001.16900.018)","support_case_count":"2"},{"id":"2","product_name":"Cisco
        Unity Connection Version 10.5","bug_id":"CSCvy29659","headline":"Unity Connection
        Apache Axis2 Directory Traversal Vulnerability","description":"<B>Symptom:</B>\nThis
        product includes a version of Apache Axis2 that is affected by the vulnerability
        described at the following link:\nhttps://issues.apache.org/jira/browse/AXIS2-4279\n\nThis
        bug was opened to address the potential impact on this product.\n\n<B>Conditions:</B[...]
[...]
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://api.cisco.com/bug/v2.0/bugs/product_name/Cisco%20Unity%20Connection%20Version%2010.5/affected_releases/10.5(2)?modified_date=5&page_index=4
  response:
    body:
      string: '{"bugs":[{"id":"31","product_name":"Cisco Unity Connection Version
        10.5","bug_id":"CSCva04975","headline":"CLI Commands \"utils cuc proxy usrcreate\"
        and usrpasswd fails","description":"<B>Symptom:</B>\nOn creating the proxy
        user:\nexample-\nUsername that only contains numbers\nPlease enter username:
        11                                                                                                \nCommand
        failed:  There was an unknown error that happened in the script.\n\nadmin:utils
        cuc proxy usrcreate\n>>Again trying to create using username 11\nPlease enter
        username: 11\nCommand failed: Proxy user exists, try creating other user.\n\n<B>Conditions:</B>\nConfigure
        CUC to work with Cisco Prime Collaboration Provisioning, create the proxy
        user, change proxy user password.\n\nFollowing are the CLI''s that are used-\n
        utils cuc proxy usrcreate\nutils cuc proxy usrpasswd\nutils cuc proxy enable\n\n<B>Workaround:</B>\nNA\n\n<B>Further
        Problem Description:</B>\nNA\n\n","severity":"4","status":"F","behavior_changed":"N","last_modified_date":"2021-09-30","product":"Cisco
        Unity Connection","known_affected_releases":"10.5(2) 11.0","known_fixed_releases":"10.5(2)ES89
        10.5(2.1402) 10.5(2.14096.1) 10.5(2.14900.16) 10.5(2.14900.5) 12.0(0.18) 12.0(0.98000.108)
        12.0(0.98000.135) 12.0(0.98000.39) 12.0(0.98000.4)","support_case_count":"2"},{"id":"32","product_name":"Cisco
        Unity Connection Version 10.5","bug_id":"CSCvu70521","headline":"Python Lib/zipfile.py
        Denial of Service Vulnerability","description":"<B>Symptom:</B>\nThis product
        includes Third-party Software that is affected by the\nvulnerabilities identified
        by the following Common Vulnerability and\nExposures (CVE) IDs:\n\nCVE-2019-9674
        - https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-9674\n\n\nAfter
        analysis, Cisco has decided against performing additional actions on this
        product due to one of the \nfollowing reasons: \n\n- The product is no longer
        maintained, having reached End of Software Maintenance.  \n- The product is
        still being maintained, but a business decision was made not to upgrade the
        vulnerable product.  \n- The product uses the affected third-party component
        in su[...]
[...]
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://api.cisco.com/bug/v2.0/bugs/product_name/Cisco%20Unity%20Connection%20Version%2010.5/affected_releases/10.5(2)?modified_date=5&page_index=10
  response:
    body:
      string: '{"bugs":[{"id":"91","product_name":"Cisco Unity Connection Version
        10.5","bug_id":"CSCus27364","headline":"December 2014 - NTPd.org Vulnerabilities","description":"<b>\n\n<B>Symptom:</B>\n</b>\r\nThis
        product includes a version of NTPd that is affected by the vulnerability identified
        by the Common Vulnerability and Exposures (CVE) IDs:\r\n\r\nCVE-2014-9293
        CVE-2014-9294 CVE-2014-9295 CVE-2014-9296\r\n\r\nThis bug has been opened
        to address the potential impact on this product.\r\n\r\n<b>\n\n<B>Conditions:</B>\nExposure
        is not configuration dependent.\n\nThis product only processes NTP control
        messages locally.\n\nAffects Cisco Unity Connection\n9.1(2), 9.1(1), 9.0(1),
        8.6(2.10000.30), 8.6, 8.5(1) ,8.0 ,7.1(5), 7.1, 7.0, 6.1, 6.0, 5.1, 5.0, 10.5(1.10000.7),
        10.0(1.10000.24)\n\n<B>Workaround:</B>\nNot available.\n\n<B>Further Problem
        Description:</B>\n<b>PSIRT Evaluation:</b>\nThe Cisco PSIRT has assigned this
        bug the following CVSS version 2 score. The Base and Temporal CVSS scores
        as of the time of evaluation are  4.6/4.4:\n\nhttps://intellishield.cisco.com/security/alertmanager/cvssCalculator.do?dispatch=1&version=2&vector=AV:L/AC:L/Au:N/C:P/I:P/A:P/E:F/RL:U/RC:C\n\nThe
        Cisco PSIRT has assigned this score based on information obtained from multiple
        sources. This includes the CVSS score assigned by the [...]
[...]
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://api.cisco.com/bug/v2.0/bugs/product_name/Cisco%20Unity%20Connection%20Version%2010.5/affected_releases/10.5(2)?modified_date=5&page_index=15
  response:
    body:
      string: '{"bugs":[{"id":"141","product_name":"Cisco Unity Connection Version
        10.5","bug_id":"CSCuz55172","headline":"CUC: Diginet alternate extensions
        listing remote partitions","description":"<B>Symptom:</B>\nDiginet Sites when
        have more than 50 partitions will list the other sites partition under alternate
        extension field. This allows the customer to add the alternate extension to
        the partition which is not local to the site.\n\nWe can see that when the
        user goes to add the partition to the alternate extension it runs below query  :\n\nSELECT
        ObjectId, Name, Description, LocationObjectId FROM vw_Partition WHERE LocationObjectId
        = ? AND LocationObjectId = ? ORDER BY fn_tolower(name) ASC, fn_tolower(name)
        ASC\nSELECT COUNT(*) FROM vw_Partition WHERE LocationObjectId = ? AND LocationObjectId
        = ?\n\nIt specifies that the alternate extension should be assigned a partition
        that belongs to local locationobjectid or local server. On the condition that
        the partitions exceed count of 50 it gives an option pop up to search and
        assign partition objectid :\n  <td>\n        <cusac:combobox property=\"partitionObjectId\"
        threshold=\"50\" name=\"formName\" id=\"partitionObjectId\" collectionName=\"partitionList\"
        collectionTextProperty=\"name\" collectionValueProperty=\"objectId\" action=\"/search-partition-popup.do\"/>    \n  </td>\n\nNow
        when we enter this pop up window the sever does not search with the locatioobjectid
        anymore  , below is the set of queries it fires :\nSELECT SKIP 75 FIRST 25
        ObjectId, Name, Description, LocationObjectId FR[...]
[...]
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://api.cisco.com/bug/v2.0/bugs/product_name/Cisco%20Unity%20Connection%20Version%2010.5/affected_releases/10.5(2)?modified_date=5&page_index=16
  response:
    body:
      string: '{"bugs":[{"id":"151","product_name":"Cisco Unity Connection Version
        10.5","bug_id":"CSCuq33759","headline":"CUPI REST API for SmtpDevice/SmtpAddress
        Fails","description":"<B>Symptom:</B>\nCUPI REST API PUT to change the SMTP
        address in notificationdevices/smtpdevices fails with message:\n\nHere''s
        the response:\n<ErrorDetails>\n<errors>\n<code>DATA_EXCEPTION</code>\n<message>Enter
        Vaild Relay Email Address</message>\n</errors>\n</ErrorDetails>\n\n<B>Conditions:</B>\nFunction
        validateEmailAddress matches SMTP address with regular expression which does
        not allow strings of length smaller than two and greater then four characters
        after first dot(.)  in SMTP address after @ symbol.\nFor example, joe@this.that.the.other.com
        would cause the issue because of \"other\" which has 5 characters.\n\n<B>Workaround:</B>\nCreate
        an email alias such that each string after first dot after @ symbol has 2
        to 4 characters\n\n<B>Further Problem Description:</B>\n\n","severity":"3","status":"F","behavior_changed":"N","last_modified_date":"2019-02-25","product":"Cisco
        Unity Connection","known_affected_releases":"10.5(1)ES83 10.5(2)","known_fixed_releases":"10.5(1)ES83
        10.5(1.11014.1) 10.5(2.123)","support_case_count":"3"},{"id":"152","product_name":"Cisco
        Unity Connection Version 10.5","bug_id":"CSCvo06417","headline":"Enhancement
        request for the ability to change the system default prompts in Unity Connection.","description":"<B>Symptom:</B>\nEnhancement
        request for the ability to change the system default prompts in Unity Connection.\n\nDefault
        prompts: \"sorry, no matching name found, say cancel or press 0 to exit at
        any time\"\n\"transferring to <user>\"\n\nExamples of customized prompts:
        \n\"Sorry, I didn''t understand that\" \n\"Could you repeat that please\"\n\"Thank
        you, transferring you now\"\n\n<B>Conditions:</B>\nThis was tested on Unity
        Connection 10.5.2.14901-1. There is no option to configure/modify default
        recordings for custom recordings.\n\n<B>Workaround:</B>\nNA\n\n<B>Further
        Prob[...]
[...]
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://api.cisco.com/bug/v2.0/bugs/product_name/Cisco%20Unity%20Connection%20Version%2010.5/affected_releases/10.5(2)?modified_date=5&page_index=18
  response:
    body:
      string: '{"bugs":[{"id":"171","product_name":"Cisco Unity Connection Version
        10.5","bug_id":"CSCut28345","headline":"Blank subject in SMTP notification
        if using non-default locale CUC 10.5","description":"<B>Symptom:</B>\nBlank
        Subject Line in the incoming SMTP Notification messages for a user configured
        with non default locale\n\n<B>Conditions:</B>\nNon-default language installed
        and configured for an user\nMessage notification/Missed Call Notification
        is enabled on Unity Connection\n\n<B>Workaround:</B>\nRun following sql update
        query:\n\n=======================\nrun cuc dbquery unitydirdb update tbl_CustomSubjectLineFormat
        set messagetype=2 where subjecttype in (5,6,7) and languagecode in (select
        unique languagecode from tbl_CustomSubjectLineFormat where languagecode!=1033)\n=======================\n\n<B>Further
        Problem Description:</B>\n\n","severity":"3","status":"F","behavior_changed":"N","last_modified_date":"2018-12-10","product":"Cisco
        Unity Connection","known_affected_releases":"10.5(2)ES12 11.0","known_fixed_releases":"10.5(2)ES34
        10.5(2.12027.1) 10.5(2.12900.14) 10.5(2.12900.5) 10.5(2.557) 11.0(0.101)","support_case_count":"5"},{"id":"172","product_name":"Cisco
        Unity Connection Version 10.5","bug_id":"CSCuo57080","headline":"Forward Routing
        Rule Ignores PT/CSS if CH has same dtmfaccessid as user","description":"<B>Symptom:</B>\nExpected
        Behavior:\nuser2 (with same css/partition as user1) calls user1.  System default
        \"Attempt Forward\" forwarding routing rule (with same css/partition as user1)
        sends to User1 voicemail greeting\n\nActual Behavior:\nWithout call handler
        (with same extension) added to CUC, all calls work just fine.\n\nWhen call
        handler with same extension but different partition/css is configured, the
        following occurs:\nuser2 (with same css/partition as user1) calls user1. All
      [...]
[...]
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://api.cisco.com/bug/v2.0/bugs/product_name/Cisco%20Unity%20Connection%20Version%2010.5/affected_releases/10.5(2)?modified_date=5&page_index=28
  response:
    body:
      string: '{"bugs":[{"id":"271","product_name":"Cisco Unity Connection Version
        10.5","bug_id":"CSCuq95870","headline":"[INTDEV] Development work in Sprint
        118- eliminators","description":"$$IGNORE\n\n[INTDEV] Development work in
        Sprint 118- eliminators\n\n<B>Symptom:</B>\n\n<B>Conditions:</B>\n1. US177585:
        As an engineer, I want to fix defects in Sprint 118 to ensure quality\n2.
        US165397: Solution Testing Opie 10.5.2: CUCM and End Point (spilled of sprint
        117)\n3. US173838: Solution Testing Opie 10.5.2: Jabber with CUPS and CUCM\n4.
        US166196: To launch the Bangalore based security testbed and execute first
        3 VT cases\n\n<B>Workaround:</B>\n\n<B>Further Problem Description:</B>\n\n","severity":"6","status":"F","behavior_changed":"N","last_modified_date":"2016-05-05","product":"Cisco
        Unity Connection","known_affected_releases":"10.5(2)","known_fixed_releases":"","support_case_count":"0"},{"id":"272","product_name":"Cisco
        Unity Connection Version 10.5","bug_id":"CSCuq55836","headline":"US : Stabilize
        DB [...]
[...]
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://api.cisco.com/bug/v2.0/bugs/product_name/Cisco%20Unity%20Connection%20Version%2010.5/affected_releases/10.5(2)?modified_date=5&page_index=32
  response:
    body:
      string: "{\"bugs\":[{\"id\":\"311\",\"product_name\":\"Cisco Unity Connection
        Version 10.5\",\"bug_id\":\"CSCus13216\",\"headline\":\" JPN: admin: Notification
        Devices Display Name option are not localized\",\"description\":\"<B>Symptom:</B>\\nJPN:
        admin: Notification Devices Display Name option are not localized\\n\\n<B>Conditions:</B>\\nDevice
        name\\tWindows 8.1, IE11\\r\\nSteps to Reproduce:\\r\\n\\tScript 2, Slide
        17\\r\\nScript 3, Slide 14, Screen 1\\r\\n1.\\tOpen Browser and type10.78.239.116\\r\\n2.\\tEnter
        the user name : cucadmin and Password : roZes123\\r\\n3.\\tCUC admin page
        opens\\r\\n4.\\tClick Users under User option in left pane.\\r\\n5.\\tClick
        satou user in right pane.\\r\\n6.\\tClick edi[...]
[...]
