interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://cloudsso.cisco.com/as/token.oauth2
  response:
    body:
      string: '{"access_token":"Dk7fMiLpIgH5XVWMYzrTTfnzZwxN","token_type":"Bearer","expires_in":3599}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://api.cisco.com/bug/v2.0/bugs/products/product_id/WS-C3560-48PS-S/software_releases/15.2(03)E01?page_index=1
  response:
    body:
      string: '{"bugs":[{"id":"1","base_pid":"WS-C3560-48PS-S","bug_id":"CSCvn90733","headline":"Factory
        pre-installed image fails MD5 verification","description":"\n\n<B>Symptom:</B>\nThe
        pre-loaded image 15.2(3)E1 on multiple SM-X-ES3-24-P service modules fail
        MD5 verification.\n\nThe file size is also 41 bytes bigger than the CCO image
        on CCO download site. We found that the 41 bytes is pads unused bytes with
        0x1a.\n\nWhen the image is loaded, the below warning is generated:\n\nFile
        - IOS_discrepencies_Boot_LOG.txt  \n        \n        Loading \"flash:/c3560e-universalk9-mz.152-3.E1.bin\"...Verifying
        image flash:/c3560e-universalk9-mz.152-3.E1.bin......................................................................................................................................................................................................................................................................................................................................................................................................................\n        WARNING:
        Unable to determine image authentication.Image is either unsigned or is signed
        but corrupted.     <<<<<<<<<<<<<<<<<<<\n\nNo service impact has been observed.\n\n<B>Conditions:</B>\nFactory
        pre-installed image 15.2(3)E1 on SM-X-ES3-24-P\n\n<B>Workaround:</B>\nInstall
        CCO image 15.2(3)E1 from CCO site. However, the pre-installed image won''t
        cause any service impact.\n\n<B>Further Problem Description:</B>\n\n","severity":"5","status":"T","behavior_changed":"","last_modified_date":"2022-01-29","product":"3560","known_affected_releases":"15.2(03)E01","known_fixed_releases":"","support_case_count":"1"}],"pagination_response_record":{"last_index":1,"page_index":1,"page_records":1,"self_link":"https://api.cisco.com/bug/v2.0/bugs/products/product_id/WS-C3560-48PS-S/software_releases/15.2(03)E01?page_index=1&modified_date=2&sort_by=modified_date","title":"Bug
        API - Get Bugs by a Base Product Id and Software Releases","total_records":1}}'
    headers:
      X-Mashery-Message-ID:
      - 1d12195b-a435-4661-9279-e2ab40d1ae69
      content-type:
      - application/json;charset=UTF-8
      x-rp-ssl-name:
      - cae-prd-alln-prt-ext-kube-rp-1.cisco.com
    status:
      code: 200
      message: OK
version: 1
