interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://cloudsso.cisco.com/as/token.oauth2
  response:
    body:
      string: '{"access_token":"TT0zTZ4Pc6zEZBEbhokQDQ448xtR","token_type":"Bearer","expires_in":3599}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://api.cisco.com/sn2info/v2/coverage/summary/serial_numbers/FXS2130Q286?page_index=1&pageIndex=1
  response:
    body:
      string: '{"pagination_response_record":{"last_index":1,"page_index":1,"page_records":1,"self_link":"https://api.cisco.com/sn2info/v2/coverage/summary/serial_numbers/FXS2130Q286?page_index=1","title":"Get
        Coverage Summary by Serial Numbers - SN2INFO API","total_records":1},"serial_numbers":[{"base_pid_list":[{"base_pid":"C9410R"}],"contract_site_customer_name":"CISCO
        IT INTERNAL GLOBAL PRODUCTION NETWORK","contract_site_address1":"400 EAST
        TASMAN DRIVE","contract_site_city":"SAN JOSE","contract_site_state_province":"CA","contract_site_country":"US","covered_product_line_end_date":"2023-12-31","id":"1","is_covered":"YES","orderable_pid_list":[{"item_description":"Cisco
        Catalyst 9400 Series 10 slot chassis","item_position":"P","item_type":"CHASSIS","orderable_pid":"C9410R","pillar_code":"1,2,3"}],"parent_sr_no":"","service_contract_number":"203371074","service_line_descr":"CX
        LEVEL 2 8X5XNBD","sr_no":"FXS2130Q286","warranty_end_date":"2029-04-09","warranty_type":"WARR-ELTD-LIFE-HW","warranty_type_description":"http://www.cisco.com/go/warranty"}]}'
    headers:
      X-Mashery-Message-ID:
      - ca5b0069-88e8-475a-9495-26ba2882103f
      content-type:
      - application/json;charset=UTF-8
      x-rp-ssl-name:
      - cae-prd-alln-prt-ext-kube-rp-1.cisco.com
    status:
      code: 200
      message: OK
version: 1
