interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://cloudsso.cisco.com/as/token.oauth2
  response:
    body:
      string: '{"access_token":"xRS3lweBxrOtcNXCjvvNBEgH43mj","token_type":"Bearer","expires_in":3599}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://api.cisco.com/sn2info/v2/identifiers/orderable/serial_numbers/FOC0717W107,FOC11517LEX,FOC0737Y43K?page_index=1&pageIndex=1
  response:
    body:
      string: '{"serial_numbers":[{"sr_no":"FOC11517LEX","orderable_pid_list":[{"orderable_pid":"HWIC-4ESW","pillar_code":"1","pillar_description":"TAC
        SUPPORT"},{"orderable_pid":"HWIC-4ESW","pillar_code":"3","pillar_description":"SOFTWARE
        SUPPORT"},{"orderable_pid":"HWIC-4ESW","pillar_code":"5","pillar_description":"DOES
        NOT APPLY"},{"orderable_pid":"HWIC-4ESW","pillar_code":"2","pillar_description":"HARDWARE
        REPLACEMENT"}]},{"sr_no":"FOC0737Y43K","orderable_pid_list":[{"orderable_pid":"WS-C2950-24","pillar_code":"1","pillar_description":"TAC
        SUPPORT"},{"orderable_pid":"WS-C2950-24","pillar_code":"5","pillar_description":"DOES
        NOT APPLY"},{"orderable_pid":"WS-C2950-24","pillar_code":"3","pillar_description":"SOFTWARE
        SUPPORT"},{"orderable_pid":"WS-C2950-24","pillar_code":"2","pillar_description":"HARDWARE
        REPLACEMENT"}]},{"sr_no":"FOC0717W107","orderable_pid_list":[{"orderable_pid":"WS-C2950C-24","pillar_code":"","pillar_description":""}]}]}'
    headers:
      X-Mashery-Message-ID:
      - 61524ce3-e964-4d05-b960-0dcdd2e36bbb
      content-type:
      - application/json;charset=UTF-8
      x-rp-ssl-name:
      - cae-prd-alln-prt-ext-kube-rp-1.cisco.com
    status:
      code: 200
      message: OK
version: 1
