interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://cloudsso.cisco.com/as/token.oauth2
  response:
    body:
      string: '{"access_token":"puKBgXc84N9tszKu0rtR1ZEpZ8EE","token_type":"Bearer","expires_in":3599}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://api.cisco.com/sn2info/v2/coverage/owner_status/serial_numbers/FXS2130Q286?page_index=1&pageIndex=1
  response:
    body:
      string: '{"serial_numbers":[{"sr_no":"FXS2130Q286","is_covered":"YES","coverage_end_date":"2023-12-31","sr_no_owner":"YES"}]}'
    headers:
      X-Mashery-Message-ID:
      - 102fdac4-3a14-4587-86b6-417320fad068
      content-type:
      - application/json;charset=UTF-8
      x-rp-ssl-name:
      - cae-prd-alln-prt-ext-kube-rp-1.cisco.com
    status:
      code: 200
      message: OK
version: 1
