interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://cloudsso.cisco.com/as/token.oauth2
  response:
    body:
      string: '{"access_token":"60zMTDTpT5uvjeEGbI8yiaHnfNVu","token_type":"Bearer","expires_in":3599}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://api.cisco.com/bug/v2.0/bugs/product_name/Cisco%20Unified%20Communications%20Manager%20(CallManager)/fixed_in_releases
  response:
    body:
      string: '{"ErrorResponse":{"APIError":[{"ErrorCode":"API_MISSING_PARAMETERS","ErrorDescription":"A
        required parameter is missing","SuggestedAction":"Please consult the API documentation"}]}}'
    headers:
      X-Mashery-Message-ID:
      - a1c5a055-c274-4be9-9eab-57742415fb98
      content-type:
      - application/json;charset=UTF-8
      x-rp-ssl-name:
      - cae-prd-alln-prt-ext-kube-rp-1.cisco.com
    status:
      code: 400
      message: Bad Request
version: 1
