interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://id.cisco.com/oauth2/default/v1/token
  response:
    body:
      string: '{"errorCode":"invalid_client","errorSummary":"Invalid value for ''client_id''
        parameter.","errorLink":"invalid_client","errorId":"oaekdN_2leeRci6MjoT0B52Jw","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      WWW-Authenticate:
      - Basic
      x-okta-request-id:
      - ZRJHWGuXAGlGJ36aLKPUWAAAANg
    status:
      code: 401
      message: Unauthorized
- request:
    body: grant_type=client_credentials
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://id.cisco.com/oauth2/default/v1/token
  response:
    body:
      string: '{"errorCode":"invalid_client","errorSummary":"Invalid value for ''client_id''
        parameter.","errorLink":"invalid_client","errorId":"oaeSti_1O76TYCFJ79PKCqcTw","errorCauses":[]}'
    headers:
      Content-Type:
      - application/json
      WWW-Authenticate:
      - Basic
      x-okta-request-id:
      - ZRJHWVm-sg6CbM-l5DYX-wAADQY
    status:
      code: 401
      message: Unauthorized
version: 1
