interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://cloudsso.cisco.com/as/token.oauth2
  response:
    body:
      string: '{"access_token":"1jBFCXfhbIvGLR1TM2KOR9NiD8d8","token_type":"Bearer","expires_in":3599}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://api.cisco.com/supporttools/eox/rest/5/EOXBySerialNumber/1/FHK0933224R?responseencoding=json
  response:
    body:
      string: '{"PaginationResponseRecord":{"PageIndex":1,"LastIndex":1,"TotalRecords":1,"PageRecords":1},"EOXRecord":[{"EOLProductID":"CISCO1811W-AG-A/K9","ProductIDDescription":"Security
        Router with 802.11a+g FCC Compliant and Analog B/U","ProductBulletinNumber":"EOL5834","LinkToProductBulletinURL":"http://www.cisco.com/en/US/products/ps5853/prod_eol_notice0900aecd8066a188.html","EOXExternalAnnouncementDate":{"value":"2007-06-12","dateFormat":"YYYY-MM-DD"},"EndOfSaleDate":{"value":"2007-06-29","dateFormat":"YYYY-MM-DD"},"EndOfSWMaintenanceReleases":{"value":"","dateFormat":"YYYY-MM-DD"},"EndOfSecurityVulSupportDate":{"value":"","dateFormat":"YYYY-MM-DD"},"EndOfRoutineFailureAnalysisDate":{"value":"2008-06-29","dateFormat":"YYYY-MM-DD"},"EndOfServiceContractRenewal":{"value":"2012-03-07","dateFormat":"YYYY-MM-DD"},"LastDateOfSupport":{"value":"2012-06-29","dateFormat":"YYYY-MM-DD"},"EndOfSvcAttachDate":{"value":"2008-06-29","dateFormat":"YYYY-MM-DD"},"UpdatedTimeStamp":{"value":"2011-01-03","dateFormat":"YYYY-MM-DD"},"EOXMigrationDetails":{"PIDActiveFlag":"Y","MigrationInformation":"Security
        Router with 802.11a+g FCC Compliant and Analog B/U","MigrationOption":"Enter
        PID(s)","MigrationProductId":"CISCO1811W-AG-B/K9","MigrationProductName":"","MigrationStrategy":"","MigrationProductInfoURL":"http://www.cisco.com/en/US/products/hw/routers/products_promotion0900aecd8017150a.html"},"EOXInputType":"ShowEOXBySerialNumber","EOXInputValue":"FHK0933224R"}]}'
    headers:
      X-Mashery-Message-ID:
      - dd8d8cda-5b95-4896-b6d8-30d20d17b5eb
      content-type:
      - application/json;charset=UTF-8
      x-rp-ssl-name:
      - cae-prd-alln-prt-ext-kube-rp-1.cisco.com
    status:
      code: 200
      message: OK
version: 1
