interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://cloudsso.cisco.com/as/token.oauth2
  response:
    body:
      string: '{"access_token":"3Ih6P5eOVDdwikkgeH7n9wfqdxfc","token_type":"Bearer","expires_in":3599}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://api.cisco.com/supporttools/eox/rest/5/EOXByProductID/1/WS-C3850-48XS-E,WS-C3850-48XS-E-RF?responseencoding=json
  response:
    body:
      string: '{"PaginationResponseRecord":{"PageIndex":1,"LastIndex":1,"TotalRecords":2,"PageRecords":2},"EOXRecord":[{"EOLProductID":"WS-C3850-48XS-E-RF","ProductIDDescription":"Cat
        3850 48 Port 10G Fiber Switch IP Services REMANUFACTURED","ProductBulletinNumber":"RFEOL13873","LinkToProductBulletinURL":"","EOXExternalAnnouncementDate":{"value":"2021-04-30","dateFormat":"YYYY-MM-DD"},"EndOfSaleDate":{"value":"2027-04-30","dateFormat":"YYYY-MM-DD"},"EndOfSWMaintenanceReleases":{"value":"","dateFormat":"YYYY-MM-DD"},"EndOfSecurityVulSupportDate":{"value":"","dateFormat":"YYYY-MM-DD"},"EndOfRoutineFailureAnalysisDate":{"value":"","dateFormat":"YYYY-MM-DD"},"EndOfServiceContractRenewal":{"value":"2026-07-29","dateFormat":"YYYY-MM-DD"},"LastDateOfSupport":{"value":"2027-04-30","dateFormat":"YYYY-MM-DD"},"EndOfSvcAttachDate":{"value":"2023-04-30","dateFormat":"YYYY-MM-DD"},"UpdatedTimeStamp":{"value":"2022-01-21","dateFormat":"YYYY-MM-DD"},"EOXMigrationDetails":{"PIDActiveFlag":"Y","MigrationInformation":"","MigrationOption":"No
        Replacement Available","MigrationProductId":"","MigrationProductName":"No
        Replacement Product","MigrationStrategy":"","MigrationProductInfoURL":""},"EOXInputType":"ShowEOXByPids","EOXInputValue":"WS-C3850-48XS-E-RF
        "},{"EOLProductID":"WS-C3850-48XS-E","ProductIDDescription":"Cisco Catalyst
        3850 48 Port 10G Fiber Switch IP Services","ProductBulletinNumber":"EOL13873","LinkToProductBulletinURL":"https://www.cisco.com/c/en/us/products/collateral/switches/catalyst-3850-series-switches/eos-eol-notice-c51-2438804.html","EOXExternalAnnouncementDate":{"value":"2021-04-30","dateFormat":"YYYY-MM-DD"},"EndOfSaleDate":{"value":"2022-04-30","dateFormat":"YYYY-MM-DD"},"EndOfSWMaintenanceReleases":{"value":"2023-04-30","dateFormat":"YYYY-MM-DD"},"EndOfSecurityVulSupportDate":{"value":"2025-04-29","dateFormat":"YYYY-MM-DD"},"EndOfRoutineFailureAnalysisDate":{"value":"2023-04-30","dateFormat":"YYYY-MM-DD"},"EndOfServiceContractRenewal":{"value":"2026-07-29","dateFormat":"YYYY-MM-DD"},"LastDateOfSupport":{"value":"2027-04-30","dateFormat":"YYYY-MM-DD"},"EndOfSvcAttachDate":{"value":"2023-04-30","dateFormat":"YYYY-MM-DD"},"UpdatedTimeStamp":{"value":"2022-01-21","dateFormat":"YYYY-MM-DD"},"EOXMigrationDetails":{"PIDActiveFlag":"Y","MigrationInformation":"","MigrationOption":"Enter
        Product Name(s)","MigrationProductId":"","MigrationProductName":"C9500-48Y4C","MigrationStrategy":"","MigrationProductInfoURL":""},"EOXInputType":"ShowEOXByPids","EOXInputValue":"WS-C3850-48XS-E
        "}]}'
    headers:
      X-Mashery-Message-ID:
      - 1e0bb76c-9ab0-45e2-b6c8-2cbfae79ea0d
      content-type:
      - application/json;charset=UTF-8
      x-rp-ssl-name:
      - cae-prd-alln-prt-ext-kube-rp-1.cisco.com
    status:
      code: 200
      message: OK
version: 1
