interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://cloudsso.cisco.com/as/token.oauth2
  response:
    body:
      string: '{"access_token":"CScv5rW1d922HUyYkIlL0tzdUtRJ","token_type":"Bearer","expires_in":3599}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://api.cisco.com/supporttools/eox/rest/5/EOXBySWReleaseString/1/?responseencoding=json&input1=12.2%2CIOS
  response:
    body:
      string: '{"PaginationResponseRecord":{"PageIndex":1,"LastIndex":1,"TotalRecords":6,"PageRecords":6},"EOXRecord":[{"EOLProductID":"SICSCHVK8-12203","ProductIDDescription":"Cisco
        ics7700 Ser IOS IP/FW/VOICE PLUS IPSEC 56","ProductBulletinNumber":"3108","LinkToProductBulletinURL":"http://www.cisco.com/en/US/products/sw/iosswrel/ps1835/prod_eol_notice0900aecd80330813.html","EOXExternalAnnouncementDate":{"value":"2005-09-19","dateFormat":"YYYY-MM-DD"},"EndOfSaleDate":{"value":"2006-03-19","dateFormat":"YYYY-MM-DD"},"EndOfSWMaintenanceReleases":{"value":"2007-03-19","dateFormat":"YYYY-MM-DD"},"EndOfSecurityVulSupportDate":{"value":"","dateFormat":"YYYY-MM-DD"},"EndOfRoutineFailureAnalysisDate":{"value":"","dateFormat":"YYYY-MM-DD"},"EndOfServiceContractRenewal":{"value":"","dateFormat":"YYYY-MM-DD"},"LastDateOfSupport":{"value":"2011-03-19","dateFormat":"YYYY-MM-DD"},"EndOfSvcAttachDate":{"value":"","dateFormat":"YYYY-MM-DD"},"UpdatedTimeStamp":{"value":"2009-04-29","dateFormat":"YYYY-MM-DD"},"EOXMigrationDetails":{"PIDActiveFlag":"Y","MigrationInformation":"","MigrationOption":"See
        Migration Section","MigrationProductId":"","MigrationProductName":"","MigrationStrategy":"Customers
        are encouraged to migrate to the MIGRATION/REPLACEMENT PRODUCT NAME. Information
        about this product can be found at: URL FOR THE MIGRATION/REPLACEMENT PRODUCT
        WEB SITE ON CISCO.COM.","MigrationProductInfoURL":""},"EOXInputType":"ShowEOXBySoftware","EOXInputValue":"input1=12.2,IOS"},{"EOLProductID":"SU7PK8-12210","ProductIDDescription":"Cisco
        ubr7200 Ser IOS DOCSIS 2-WAY BPI IP+","ProductBulletinNumber":"2348","LinkToProductBulletinURL":"http://www.cisco.com/en/US/products/sw/iosswrel/ps1835/prod_eol_notice09186a008032d55e.html","EOXExternalAnnouncementDate":{"value":"2002-05-07","dateFormat":"YYYY-MM-DD"},"EndOfSaleDate":{"value":"2002-05-07","dateFormat":"YYYY-MM-DD"},"EndOfSWMaintenanceReleases":{"value":"2003-05-07","dateFormat":"YYYY-MM-DD"},[...]
