interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://cloudsso.cisco.com/as/token.oauth2
  response:
    body:
      string: '{"access_token":"AyNqIgWRTwNHPbQRQ3Evt8IwUp2A","token_type":"Bearer","expires_in":3599}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://api.cisco.com/supporttools/eox/rest/5/EOXByDates/1/2022-01-01/2022-01-31?responseencoding=json&eoxAttrib=EO_LAST_SUPPORT_DATE
  response:
    body:
      string: '{"PaginationResponseRecord":{"PageIndex":1,"LastIndex":3,"TotalRecords":2183,"PageRecords":1000},"EOXRecord":[{"EOLProductID":"1002414","ProductIDDescription":"Screw
        Pan HD M3X8 Torx T-10 Sems Zinc","ProductBulletinNumber":"EOL11075","LinkToProductBulletinURL":"http://www.cisco.com/c/en/us/products/collateral/video/digistar-ethernet-over-coax-eoc-homeplug-av-system/eos-eol-notice-c51-737590.html","EOXExternalAnnouncementDate":{"value":"2016-07-18","dateFormat":"YYYY-MM-DD"},"EndOfSaleDate":{"value":"2017-01-16","dateFormat":"YYYY-MM-DD"},"EndOfSWMaintenanceReleases":{"value":"","dateFormat":"YYYY-MM-DD"},"EndOfSecurityVulSupportDate":{"value":"","dateFormat":"YYYY-MM-DD"},"EndOfRoutineFailureAnalysisDate":{"value":"2018-01-16","dateFormat":"YYYY-MM-DD"},"EndOfServiceContractRenewal":{"value":"2021-04-13","dateFormat":"YYYY-MM-DD"},"LastDateOfSupport":{"value":"2022-01-31","dateFormat":"YYYY-MM-DD"},"EndOfSvcAttachDate":{"value":"2018-01-16","dateFormat":"YYYY-MM-DD"},"UpdatedTimeStamp":{"value":"2016-07-20","dateFormat":"YYYY-MM-DD"},"EOXMigrationDetails":{"PIDActiveFlag":"Y","MigrationInformation":"","MigrationOption":"No
        Replacement Available","MigrationProductId":"","MigrationProductName":"","MigrationStrategy":"","MigrationProductInfoURL":""},"EOXInputType":"showEoXByDates","EOXInputValue":"2022-01-01
        , 2022-01-31 , EO_LAST_SUPPORT_DATE"},{"EOLProductID":"1030326","ProductIDDescription":"FOSC-B-BSK-Dual-5BAND-4SKIP0-2039-DTP-UGEXP-SA-NC","ProductBulletinNumber":"EOL11070","LinkToProductBulletinURL":"http://www.cisco.com/c/en/us/products/collateral/video/optical-passive-components/eos-eol-notice-c51-737555.html","EOXExternalAnnouncementDate":{"value":"2016-07-11","dateFormat":"YYYY-MM-DD"},"EndOfSaleDate":{"value":"2017-01-09","dateFormat":"YYYY-MM-DD"},"EndOfSWMaintenanceR[...]
