interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://cloudsso.cisco.com/as/token.oauth2
  response:
    body:
      string: '{"access_token":"fzd62VNizFV3bMvH3Sa0bwVsHhIl","token_type":"Bearer","expires_in":3599}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://api.cisco.com/supporttools/eox/rest/5/EOXBySerialNumber/1/not%20a%20serial?responseencoding=json
  response:
    body:
      string: '{"EOXError":{"ErrorID":"SSA_ERR_010","ErrorDescription":"The serialNumbers
        value specified is invalid. Please correct the serialNumbers value and try
        again."}}'
    headers:
      X-Mashery-Message-ID:
      - 18de11ba-f96c-4c80-bbef-bc211d470bbd
      content-type:
      - application/json;charset=UTF-8
      x-rp-ssl-name:
      - cae-prd-alln-prt-ext-kube-rp-1.cisco.com
    status:
      code: 200
      message: OK
version: 1
