interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://id.cisco.com/oauth2/default/v1/token
  response:
    body:
      string: '{"token_type":"Bearer","expires_in":3600,"access_token":"eyJraWQiOiJUV3lfd0piZUhMUjJrb1NZQWZpTnZPeGptWExPM3NKNTdBTUk0UGEySzRRIiwiYWxnIjoiUlMyNTYifQ.eyJ2ZXIiOjEsImp0aSI6IkFULmJTMkxuNEphVEhBZXIyQlctYU5NbW55OVhETF9sbXh3TWlLRS1GdnBORjQiLCJpc3MiOiJodHRwczovL2lkLmNpc2NvLmNvbS9vYXV0aDIvZGVmYXVsdCIsImF1ZCI6ImFwaTovL2RlZmF1bHQiLCJpYXQiOjE2OTU2OTYxMzksImV4cCI6MTY5NTY5OTczOSwiY2lkIjoiYXFweGJ0cnlmZGZ0eGU2NGo5YXZidWcyIiwic2NwIjpbImN1c3RvbXNjb3BlIl0sImFjY2Vzc19sZXZlbCI6MSwic3ViIjoiYXFweGJ0cnlmZGZ0eGU2NGo5YXZidWcyIiwiZnVsbF9uYW1lIjoibnVsbCBudWxsIiwiYXpwIjoiYXFweGJ0cnlmZGZ0eGU2NGo5YXZidWcyIn0.JbrRIyKo4PpbJnCRG47tu669Zjdc1feyaMbIGAyKKMk1WxAtFEs3cPeZNOcqyKfEE-XdzyI8j1EYdnwBN3B8CoMh3cOld2GE4WagSs_raCv3S_-UBa0-ZUl9kK6h0fbgQ7nE9k5EFkjjaWP5-WXI2r2Kc4ALCNMVsWyin3wZyiWJZsrYuTpvNaFr6rp_tlQ-zyIpAQMbuCwRfYppO4nLl_5lr-W9_NzMUXW85k_G5cQHkJCfIpVcKjygkMUftPH7R5MpOyP__kewWdcnyOlaooBN8TWHeJ06wHJqYzCsmJRumhaV-MG-DkSIo_hhMS2o-OdCuPa4kkjbW0MVrwGdWw","scope":"customscope"}'
    headers:
      Content-Type:
      - application/json
      x-okta-request-id:
      - ZRJFCx4gQnyXqTl8urqL0QAACnM
      x-rate-limit-limit:
      - '60000'
      x-rate-limit-remaining:
      - '58082'
      x-rate-limit-reset:
      - '1695696160'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://apix.cisco.com/case/v3/cases/details/case_id/692277140
  response:
    body:
      string: "{\"caseDetail\":{\"user_id\":\"mcamando\",\"case_id\":\"692277140\",\"title\":\"rtp
        campus (rtp10-cd-dtbb-gw1) and others - Not able to respond to RS from a supplicant
        device in IPv6 - Mostly noticed on MAC\",\"severity\":\"3\",\"status\":\"Closed\",\"creation_date\":\"2021-09-30T14:46:09.000Z\",\"updated_date\":\"2022-03-03T15:54:45.000Z\",\"serial_number\":\"CAT2241L55B\",\"contract_id\":\"203371074\",\"contact_user_id\":\"mcamando\",\"preferred_contact_method\":\"Email\",\"contact_email_ids\":[\"mcamando@cisco.com\"],\"contact_business_phone_numbers\":[\"+19193923334\"],\"contact_mobile_phone_numbers\":[],\"owner_name\":\"Sheldon
        Mooney\",\"owner_email\":\"shmooney@cisco.com\",\"close_date\":\"2022-03-03T15:54:39.000Z\",\"technology_name\":\"LAN
        Switching\",\"sub_technology_name\":\"Cat9500\",\"tracking_number\":\"\",\"problem_code_name\":\"Configuration
        Assistance\",\"request_type\":\"Diagnose and Fix my Problem\",\"rmas\":[],\"bugs\":[],\"notes\":[{\"note\":\"\",\"note_detail\":\"Closed\",\"created_by\":\"Sheldon
        Mooney\",\"creation_date\":\"2022-03-03T15:54:45.000Z\"},{\"note\":\"\",\"note_detail\":\"<https://csone.my.salesforce.com/ui/support/servicedesk/ServiceDeskPage#/a1O6R00000AKccYUAT
        >\\n<https://meetingnotes.cisco.com/index.html?caseId=1131499187&srId=692277140
        >\\n \\nCollaboration Closure Reason: Case Closed\\nCollaboration Owner: shmooney\\nKey
        Contributor: \\nParticipator: sherholm\",\"created_by\":\"Sheldon Mooney\",\"creation_date\":\"2022-03-03T15:54:42.000Z\"},{\"note\":\"\",\"note_detail\":\"Router
        solicitation was being suppressed by RA Guard after configuring the switch
        with the following configs we are now seeing the router solicitation messages
        forwarding:\\n\\nconfig t\\n!\\nipv6 nd raguard policy uplink-policy\\ndevice-role
        router\\n!\\ninterface Te5/0/1\\nipv6 nd raguard attach-policy uplink-policy\\n!\\ninterface
        Te6/0/1\\nipv6 nd raguard attach-policy uplink-policy\\n!\\nend\\n!\\nwr\\n\\n//Reference
        \\nCSCve80902\",\"created_by\":\"Sheldon Mooney\",\"creation_date\":\"2022-03-03T15:54:22.000Z\"},{\"note\":\"\",\"note_detail\":\"From:
        kuwang@cisco.com\\nTo: \\\"Sheldon Mooney (shmooney)\\\" <shmooney@cisco.com>,\\\"sisf-coders(mailer
        list)\\\" <sisf-coders@cisco.com>,\\\"email-in@cisco.com\\\" <email-in@cisco.com>,\\\"Jeremy
        Collins (jerecoll)\\\" <jerecoll@cisco.com>\\nCc: \\nSubject: Re: 692277140
        rtp campus (rtp10-cd-dtbb-gw1) and others\\n\\nHello Sheldon,\\r\\n\\r\\nWe\u2019re
        glad to hear that the device-tracking issue has been clarified and you\u2019re
        able to move forward.\\r\\nThank you very much!\\r\\n\\r\\nKuang-Yeh\\r\\n\\r\\nFrom:
        \\\"Sheldon Mooney (shmooney)\\\" <shmooney@cisco.com>\\r\\nDate: Monday,
        February 21, 2022 at 15:29\\r\\nTo: \\\"Kuang-Yeh Wang (kuwang)\\\" <kuwang@cisco.com>,
        \\\"sisf-coders(mailer list)\\\" <sisf-coders@cisco.com>, \\\"email-in@cisco.com\\\"
        <email-in@cisco.com>, \\\"Jeremy Collins (jerecoll)\\\" <jerecoll@cisco.com>\\r\\nSubject:
        Re: 692277140 rtp campus (rtp10-cd-dtbb-gw1) and others\\r\\n\\r\\nHello Team,\\r\\n\\r\\nAfter
        going back through my lab I had notice that I had added some padding to the
        packet because I was worried that the packet was being dropped due to it being
        too small, but after running the packet unaltered through my lab environment
        we are no longer dropping due to device-tracking and I think I have been able
        to isolate the issue to a configuration issue. Thank you for your assistance
        with this case.\\r\\n\\r\\nThanks\\r\\n\\r\\nSheldon Mooney\\r\\n.:|:..:|:.\\r\\nGlobal
        CX Centers \u2013 Enterprise Routing & Switching\\r\\nTechnical Consulting
        Engineer\\r\\nEmail: shmooney@cisco.com<mailto:shmooney@cisco.com>\\r\\nOffice
        Hours: M-F 0800-1700(8:00am -5:00pm)  EST/12PM \u2013 9PM UTC\\r\\nOffice
        Phone: 1(919)392-0224\\r\\nCisco US Contact \u2013 1(800)553-2447\\r\\nTo
        update your case (requires a support contract):https://tools.cisco.com/ServiceRequestTool/scm/mgmt/case\\r\\nCisco
        Worldwide Contact: http://www.cisco.com/c/en/us/support/web/tsd-cisco-worldwide-contacts.html\\r\\n\\r\\nTeam
        Leads:\\r\\nJeremy Collins: jerecoll@cisco.com\\r\\n\\r\\nDirect Manager:
        Ryan Richon\\r\\nPhone: 919-392-3098\\r\\nEmail: rrichon@cisco.com\\r\\n\\r\\n\\r\\nFrom:
        Kuang-Yeh Wang (kuwang) <kuwang@cisco.com>\\r\\nDate: Tuesday, February 15,
        2022 at 5:26 PM\\r\\nTo: Sheldon Mooney (shmooney) <shmooney@cisco.com>, sisf-coders(mailer
        list) <sisf-coders@cisco.com>, email-in@cisco.com <email-in@cisco.com>, Jeremy
        Collins (jerecoll) <jerecoll@cisco.com>\\r\\nSubject: R[...]
