interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://cloudsso.cisco.com/as/token.oauth2
  response:
    body:
      string: '{"access_token":"32iArdybvljQD2O4jI8LrgJWUiuf","token_type":"Bearer","expires_in":3599}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://api.cisco.com/case/v3/cases/case_ids/692277140?sort_by=UPDATED_DATE&page_index=1
  response:
    body:
      string: '{"cases":[{"item_entry_id":1,"user_id":"mcamando","case_id":"692277140","title":"rtp
        campus (rtp10-cd-dtbb-gw1) and others - Not able to respond to RS from a supplicant
        device in IPv6 - Mostly noticed on MAC","severity":"3","contact_name":"Marcelo
        Camandona","status_flag":"O","status":"Cisco Pending","creation_date":"2021-09-30T14:46:09.000Z","updated_date":"2022-02-07T16:05:24.000Z","serial_number":"CAT2241L55B","contract_id":"203371074","technology_name":"LAN
        Switching","sub_technology_name":"Cat9500","rmas":[],"bugs":[]}],"count":1}'
    headers:
      X-Mashery-Message-ID:
      - d349c8cc-b4ee-4011-bcf2-a4ad6b435e7e
      content-type:
      - application/json;charset=UTF-8
      x-rp-ssl-name:
      - cae-prd-alln-prt-ext-kube-rp-1.cisco.com
    status:
      code: 200
      message: OK
version: 1
