interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://cloudsso.cisco.com/as/token.oauth2
  response:
    body:
      string: '{"access_token":"DqfYfoxgD3LUo7xHBkF4LtJgHFvo","token_type":"Bearer","expires_in":3599}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://api.cisco.com/case/v3/cases/users/user_ids/mannygar?status_flag=O&page_index=1
  response:
    body:
      string: '{"pagination_response_record":{"last_index":1,"page_index":1,"page_records":0,"self_link":"https://api.cisco.com/case/v3/cases/users/user_ids/mannygar?page_index=1&sort_by=UPDATED_DATE&status_flag=O","title":"Get
        Cases By User Id","total_records":0},"cases":[]}'
    headers:
      X-Mashery-Message-ID:
      - 101f496a-8357-4018-afcd-72c93109113d
      content-type:
      - application/json;charset=UTF-8
      x-rp-ssl-name:
      - cae-prd-alln-prt-ext-kube-rp-1.cisco.com
    status:
      code: 200
      message: OK
version: 1
