interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Authorization:
      - DUMMY
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://cloudsso.cisco.com/as/token.oauth2
  response:
    body:
      string: '{"access_token":"RrrfVTLafpSUClTftYwbmGZoz0oJ","token_type":"Bearer","expires_in":3599}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - DUMMY
    method: GET
    uri: https://api.cisco.com/case/v3/cases/contracts/contract_ids/92511831?status_flag=O&page_index=1
  response:
    body:
      string: '{"pagination_response_record":{"last_index":1,"page_index":1,"page_records":20,"self_link":"https://api.cisco.com/case/v3/cases/contracts/contract_ids/92511831?page_index=1&sort_by=UPDATED_DATE&status_flag=O","title":"Get
        Cases By Contract Id","total_records":20},"cases":[{"item_entry_id":1,"user_id":"kgerrits","case_id":"692659470","title":"Cisco
        CUBE HA Version 03.16.02.S stopped working after uplink GW reloading","severity":"3","contact_name":"Kees
        Gerritsen","status_flag":"O","status":"Customer Pending","creation_date":"2021-12-02T14:03:07.000Z","updated_date":"2022-01-24T08:12:42.000Z","serial_number":"FXS2011Q3V5","contract_id":"92511831","rmas":[],"bugs":[]},{"item_entry_id":2,"user_id":"nfong","case_id":"692883818","title":"ASR1004
        ESP20 on sngidc-gem-wag-gw3 showing offline","severity":"3","contact_name":"Norman
        Fong","status_flag":"O","status":"Close Pending","creation_date":"2022-01-16T22:19:01.000Z","updated_date":"2022-01-31T14:14:44.000Z","serial_number":"FOX1624GG2B","contract_id":"92511831","rmas":["802039029"],"bugs":[]},{"item_entry_id":3,"user_id":"pbhadori","case_id":"692740305","title":"++
        Cisco IT saw a maj[...]
